{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% if section.blocks.size > 0 %}
  <div class="sidebar four columns toggle-all--{{ section.settings.toggle }}">
    <div class="sidebar_content">
      {% for block in section.blocks %}
        <div {{ block.shopify_attributes }}>
          {% if block.type == 'menu' %}
            {% assign sidebar_menu = linklists[block.settings.custom_menu_linklist] %}
            {% if sidebar_menu != blank %}
              <h4 class="toggle" aria-haspopup="true" aria-expanded="false"><span>+</span>{% comment %}ly_code_replace_for_[ sidebar_menu.title ]_begin{% endcomment %}{% include 'ly-title' with sidebar_menu %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h4>
              <ul class="blog_list toggle_list">
                {% for link in sidebar_menu.links %}
                  <li>
                    <a {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
                  link url: {{link.url}}
                      class="{% if link.active or link.child_active %}active{% endif %} {% if link.links != blank %}parent-link--false {% endif %}"
                    {% else %}
                      class="{% if link.active or link.child_active %}active{% endif %} {% if link.links != blank %}parent-link--true {% endif %}" href="{{ link.url }}"
                    {% endif %}>
                    {% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>

                    {% if link.links != blank %}
                      <span class="menu-toggle icon-down-arrow {% if link.active or link.child_active %}active{% endif %}" aria-haspopup="true" aria-expanded="{% if link.active or link.child_active %}true{% else %}false{% endif %}"> </span>

                      <ul class="{% if link.active or link.child_active %}active{% endif %}">
                        {% for sub_link in link.links %}
                          <li class="sub-menu {% if sub_link.active or sub_link.child_active %}active{% endif %}">
                            <a {% if sub_link.url == 'http://' or sub_link.url == '' or sub_link.url == '/' or sub_link.url == 'https://' or sub_link.url == '#' %}
                            sub_link url: {{sub_link.url}}
                                class="{% if sub_link.active or sub_link.child_active %}active{% endif %} {% if sub_link.links != blank %}parent-link--false {% endif %}"
                              {% else %}
                                class="{% if sub_link.active or sub_link.child_active %}active{% endif %} {% if sub_link.links != blank %}parent-link--true {% endif %}" href="{{ sub_link.url }}"
                              {% endif %}>
                              {% comment %}ly_code_replace_for_[ sub_link.title ]_begin{% endcomment %}{% include 'ly-title' with sub_link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>

                            {% if sub_link.links != blank %}
                              <span class="menu-toggle icon-down-arrow {% if sub_link.active or sub_link.child_active %}active{% endif %}" aria-haspopup="true" aria-expanded="{% if sub_link.active or sub_link.child_active %}true{% else %}false{% endif %}"> </span>

                              <ul class="{% if sub_link.active or sub_link.child_active %}active{% endif %}">
                                {% for sub_sub_link in sub_link.links %}
                                  <li class="sub-menu">
                                    <a {% if sub_sub_link.active %}class="active"{% endif %} href="{{ sub_sub_link.url }}">{% comment %}ly_code_replace_for_[ sub_sub_link.title ]_begin{% endcomment %}{% include 'ly-title' with sub_sub_link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
                                  </li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <h4 class="toggle" aria-haspopup="true" aria-expanded="false"><span>+</span><ly-as-10771903>Menu title</ly-as-10771903></h4>
              <ul class="blog_list toggle_list">
                <li><p>{% comment %}ly_i18n_replace_for_[ 'homepage.onboarding.no_content' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'homepage.onboarding.no_content' | t }}{% endcapture %}{% include 'ly-static-string' with '10771905' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p></li>
              </ul>
            {% endif %}


          {% elsif block.type == 'page' %}
            {% if block.settings.content_page != blank %}
              <h4 class="toggle" aria-haspopup="true" aria-expanded="false">{% comment %}ly_code_replace_for_[ pages[block.settings.content_page].title ]_begin{% endcomment %}{% include 'ly-title' with pages[block.settings.content_page] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h4>
              <ul class="blog_list toggle_list">
                <li>{% comment %}ly_code_replace_for_[ pages[block.settings.content_page].content ]_begin{% endcomment %}{% include 'ly-content' with pages[block.settings.content_page] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</li>
              </ul>
            {% else %}
              <h4 class="toggle" aria-haspopup="true" aria-expanded="false"><span>+</span><ly-as-10771904>Page title</ly-as-10771904></h4>
              <ul class="blog_list toggle_list">
                <li><p>{% comment %}ly_i18n_replace_for_[ 'homepage.onboarding.no_content' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'homepage.onboarding.no_content' | t }}{% endcapture %}{% include 'ly-static-string' with '10771905' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p></li>
              </ul>
            {% endif %}

          {% elsif block.type == 'search' %}
            <form class="blog_search" action="/search">
              <input type="hidden" name="type" value="article" />
              <input type="text" name="q" class="search_box" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.search.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.title' | t }}{% endcapture %}{% include 'ly-static-string' with '10771906' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} {% comment %}ly_code_replace_for_[ blog.title | escape ]_begin{% endcomment %}{% include 'ly-title' with blog %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}..." autocapitalize="off" autocomplete="off" autocorrect="off" value="{{ search.terms }}" />
            </form>

          {% elsif block.type == 'newsletter' %}
            <h4>{% comment %}ly_i18n_replace_for_[ 'blogs.sidebar.subscribe' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.sidebar.subscribe' | t }}{% endcapture %}{% include 'ly-static-string' with '10771907' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h4>
            {% if block.settings.newsletter_richtext != blank %}
              {{ block.settings.newsletter_richtext }}
            {% endif %}
            {% include 'newsletter' %}

          {% elsif block.type == 'recent_posts' %}
            <h4 class="toggle" aria-haspopup="true" aria-expanded="false"><span>+</span>{% comment %}ly_i18n_replace_for_[ 'blogs.sidebar.recent_articles' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.sidebar.recent_articles' | t }}{% endcapture %}{% include 'ly-static-string' with '10771908' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h4>
            <ul class="blog_list recent_articles toggle_list">
              {% for article in blogs[blog_handle].articles limit:10 %}
                <li>
                  <a href="{{ article.url }}" title="{% comment %}ly_code_replace_for_[ article.title | escape ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">{% comment %}ly_code_replace_for_[ article.title ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
                  {% if section.settings.blog_date %}
                    <div class="meta">
                      <span class="label">{{ article.published_at | date: format: "month_day_year" }}</span>
                    </div>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>

          {% elsif block.type == 'post_tags'  %}
            <h4 class="toggle" aria-haspopup="true" aria-expanded="false"><span>+</span>{% comment %}ly_i18n_replace_for_[ 'blogs.sidebar.categories' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.sidebar.categories' | t }}{% endcapture %}{% include 'ly-static-string' with '10771909' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h4>
            <ul class="blog_list toggle_list">
              {% if blogs[blog_handle].all_tags != blank %}
                {% for tag in blogs[blog_handle].all_tags %}
                  <li>
                    <a href="{{ langify_shop_url}}/blogs/{{ blogs[blog_handle].handle }}/tagged/{{ tag | handleize }}" title="{% comment %}ly_code_replace_for_[ blogs[blog_handle].title ]_begin{% endcomment %}{% include 'ly-title' with blogs[blog_handle] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %} {% comment %}ly_i18n_replace_for_[ 'blogs.general.tagged' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.general.tagged' | t }}{% endcapture %}{% include 'ly-static-string' with '10771910' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} {{ tag | escape }}">{{ tag }}</a>
                  </li>
                {% endfor %}
              {% else %}
                <li>{% comment %}ly_i18n_replace_for_[ 'homepage.onboarding.no_content' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'homepage.onboarding.no_content' | t }}{% endcapture %}{% include 'ly-static-string' with '10771905' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</li>
              {% endif %}
            </ul>

          {% elsif block.type == 'text' %}
            <h4 class="toggle" aria-haspopup="true" aria-expanded="false"><span>+</span>{{ block.settings.title | escape }}</h4>
            <ul class="blog_list toggle_list">
              <li>{{ block.settings.text }}</li>
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

