{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% if settings.show_shipping_calculator and template contains "cart" and cart.item_count > 0 %}
  <div id="shipping-calculator" class="sixteen columns">
    <h4>{% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.heading' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.heading' | t }}{% endcapture %}{% include 'ly-static-string' with '10771911' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h4>

    <div id="shipping-calculator-form-wrapper" class="clearfix">

        <div class="four columns alpha" id="address_country_container">
          <label for="address_country">{% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.country' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.country' | t }}{% endcapture %}{% include 'ly-static-string' with '10771912' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
          <select id="address_country" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}">{{ country_option_tags }}</select>
        </div>

        <div class="four columns" id="address_province_container" style="display:none;">
          <label for="address_province" id="address_province_label">{% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.province' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.province' | t }}{% endcapture %}{% include 'ly-static-string' with '10771913' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
          <select id="address_province" name="address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
        </div>

        <div class="four columns" id="address_zip_container">
          <label for="address_zip">{% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.zip_code' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.zip_code' | t }}{% endcapture %}{% include 'ly-static-string' with '10771914' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
          <input type="text" id="address_zip" class="styled-input" name="address[zip]"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} />
        </div>

        <div class="four columns omega" id="get-rates-container">
          <label for="get-rates-submit">&nbsp;</label>
          <input type="button" id="get-rates-submit" class="get-rates action_button" value="{% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.submit_button_label' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.submit_button_label' | t }}{% endcapture %}{% include 'ly-static-string' with '10771915' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" />
        </div>

    </div><!-- .shipping-calculator-form-wrapper -->

    <div id="wrapper-response"></div>

  </div><!-- #shipping-rates-calculator -->

  <script id="shipping-calculator-response-template" type="text/x-jquery-tmpl">
    {% raw %}
    <p id="shipping-rates-feedback" class="{{if success}}success{{else}}error{{/if}}">
    {{if success}}
      {{if rates.length > 1}}
      {% endraw %}
      {% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.additional_rates' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.additional_rates' | t }}{% endcapture %}{% include 'ly-static-string' with '10771916' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
      {% raw %}
      {{html Shopify.Cart.ShippingCalculator.formatRate(rates[0].price)}}.
      {{else}}
        {{if rates.length == 1}}
        {% endraw %}
        {% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.available_rates' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.available_rates' | t }}{% endcapture %}{% include 'ly-static-string' with '10771917' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
        {% raw %}
        {{else}}
        {% endraw %}
        {% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.no_shipping_destination' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.no_shipping_destination' | t }}{% endcapture %}{% include 'ly-static-string' with '10771918' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
        {% raw %}
        {{/if}}
      {{/if}}
    {{else}}
      ${errorFeedback}
    {{/if}}
    </p>
    <ul id="shipping-rates">
      {{each( index, rate ) rates}}
      <li>${rate.name}
      {% endraw %}
      {% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.at' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.at' | t }}{% endcapture %}{% include 'ly-static-string' with '10771919' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
      {% raw %}
       {{html Shopify.Cart.ShippingCalculator.formatRate(rate.price)}}</li>
      {{/each}}
    </ul>
    {% endraw %}
  </script>

  {{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ '/services/javascripts/countries.js' | script_tag }}
  {% comment %}ly_asset_replace_for_[ 'jquery.cart.min.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'jquery.cart.min.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}

  <script type="text/javascript">
    Shopify.Cart.ShippingCalculator.show( {
      submitButton: {% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.submit_button_label' | t | json ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.submit_button_label' | t | json }}{% endcapture %}{% include 'ly-static-string' with '10771920' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape | json }}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %},
      submitButtonDisabled: {% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.submit_button_label_disabled' | t | json ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.submit_button_label_disabled' | t | json }}{% endcapture %}{% include 'ly-static-string' with '10771921' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape | json }}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}{% if shop.customer_accounts_enabled and customer %},
      customerIsLoggedIn: true{% endif %},
      moneyFormat: '<span class="money">' + {{ shop.money_format | json }} + '</span>'
    } );
  </script>
{% endif %}