{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% if shop.enabled_currencies.size > 1 %}
  <script type="text/javascript">
    //Select event for native multi currency checkout
    $('.shopify-currency-form [data-native-currency-converter]').on('change', function () {
      $(this)
        .parents('form')
        .submit();
    });

    function convertCurrencies() {
      return false;
    }
  </script>
{% else %}
  <script type="text/javascript" src="/services/javascripts/currencies.js" data-no-instant></script>
  {% comment %}ly_asset_replace_for_[ "jquery.currencies.min.js" | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = "jquery.currencies.min.js" %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}

  <script type="text/javascript">

    {% if settings.currency_format %}
      Currency.format = '{{ settings.currency_format }}';
    {% endif %}

    var shopCurrency = '{{ shop.currency }}';

    /* Sometimes merchants change their shop currency, let's tell our JavaScript file */
    Currency.money_with_currency_format[shopCurrency] = {{ shop.money_with_currency_format | strip_html | json }};
    Currency.money_format[shopCurrency] = {{ shop.money_format | strip_html | json }};

    /* Default currency */
    var defaultCurrency = '{{ settings.default_currency }}' || shopCurrency;

    var $currencySelector = $('[data-currency-converter]');

    /* Cookie currency */
    var cookieCurrency = Currency.cookie.read();

    /* Fix for customer account pages */
    $('span.money span.money').each(function() {
      $(this).parents('span.money').removeClass('money');
    });

    /* Saving the current price */
    $('span.money').each(function() {
      $(this).attr('data-currency-{{ shop.currency }}', $(this).html());
    });

    // If there's no cookie.
    if (cookieCurrency == null) {
      if (shopCurrency !== defaultCurrency) {
        Currency.convertAll(shopCurrency, defaultCurrency);
        $('.selected-currency').text(Currency.currentCurrency);
      }
      else {
        Currency.currentCurrency = defaultCurrency;
      }
    }
    // If the cookie value does not correspond to any value in the currency dropdown.
    else if ($currencySelector.length && $currencySelector.find('option[value=' + cookieCurrency + ']').length === 0) {
      Currency.currentCurrency = shopCurrency;
      Currency.cookie.write(shopCurrency);
    }
    else if (cookieCurrency === shopCurrency) {
      Currency.currentCurrency = shopCurrency;
    }
    else {
      Currency.convertAll(shopCurrency, cookieCurrency);
      $('.selected-currency').text(Currency.currentCurrency);
    }

    $currencySelector.val(Currency.currentCurrency).change(function() {
      var newCurrency = $(this).val();
      Currency.convertAll(Currency.currentCurrency, newCurrency);
      $('.selected-currency').text(Currency.currentCurrency);
    });

    var original_selectCallback = window.selectCallback;
    var selectCallback = function(variant, selector) {
      original_selectCallback(variant, selector);
      Currency.convertAll(shopCurrency, $currencySelector.val());
      $('.selected-currency').text(Currency.currentCurrency);
    };

    function convertCurrencies() {

      if($currencySelector.val() && $currencySelector.val() != $currencySelector.data('default-shop-currency')) {
        Currency.convertAll($currencySelector.data('default-shop-currency'), $currencySelector.val());
        $('.selected-currency').text(Currency.currentCurrency);
      }

    }
</script>
{% endif %}
