{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% if type == 'block' %}
  {% assign image = block.settings.image %}
  {% assign title = block.settings.title %}
  {% assign content = block.settings.content %}
  {% assign text_size = block.settings.text_size %}
  {% assign text_alignment = block.settings.text_alignment %}
  {% assign button_label = block.settings.button_label %}
  {% assign button_link = block.settings.button_link %}
{% else %}
  {% assign image = section.settings.image %}
  {% assign title = section.settings.title %}
  {% assign content = section.settings.content %}
  {% assign text_size = section.settings.text_size %}
  {% assign text_alignment = section.settings.text_alignment %}
  {% assign button_label = section.settings.button_label %}
  {% assign button_link = section.settings.button_link %}
{% endif %}

<div class="container">
  <div class="sixteen columns">
    <div class="homepage_content section text-align--{{ text_alignment }} clearfix">
      {% if image %}
        {{ image | img_url: '1180x', scale: 2 | img_tag: image.alt, 'lazyload lazyload--fade-in' }}
      {% endif %}

      {% if title != blank %}
        <h2 class="section-header home text-align--{{ text_alignment }}">
          {{ title | escape }}
        </h2>
      {% endif %}

      <div class="{{ text_size }} trim-last-paragraph">
        {% if content != blank %}
          {{ content }}
        {% endif %}

        {% if button_label != blank and button_link != blank %}
          <a href="{{ button_link }}" class="action_button">
            {{ button_label | escape }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>