{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% if type == 'block' %}
  {% assign title = block.settings.title %}
  {% assign featured_product = block.settings.featured_product %}
  {% assign frontpage_display_description = block.settings.frontpage_display_description %}
  {% assign display_vendor = block.settings.display_vendor %}
  {% assign grid_text_position = block.settings.grid_text_position %}
  {% assign show_payment_button = block.settings.show_payment_button %}
{% else %}
  {% assign title = section.settings.title %}
  {% assign featured_product = section.settings.featured_product %}
  {% assign frontpage_display_description = section.settings.frontpage_display_description %}
  {% assign display_vendor = section.settings.display_vendor %}
  {% assign grid_text_position = section.settings.grid_text_position %}
  {% assign show_payment_button = section.settings.show_payment_button %}
{% endif %}

{% include 'product-structured-data' %}

<div class="container featured-product">
  <div class="clearfix homepage_content">
    {% if title != blank %}
      <div class="sixteen columns">
        <h2 class="section-header home text-align--center">
          {{ title | escape }}
        </h2>
      </div>
    {% endif %}

      {%- assign product = all_products[featured_product] -%}
      {%- assign collection_handles = product.collections | map: 'handle' -%}
      {% if product.empty? %}
        {%- assign section_onboarding = true -%}
      {% else %}
        {%- assign section_onboarding = false -%}
      {% endif %}

      <div class="product-{{ product.id }} container flex-container product_slideshow_animation--{{settings.product_slideshow_animation}} featured-product-grid--{{ grid_text_position }} product_section thumbnail_position--{{settings.thumbnail_position}}"
          data-thumbnail="{{settings.thumbnail_position}}"
          data-slideshow-animation="{{settings.product_slideshow_animation}}"
          data-slideshow-speed="{{settings.slideshow_speed}}"
          data-block-id="{{block.id}}"
          {{ block.shopify_attributes }}>

          <div class="eight columns featured-product-image image_column">
            {% if section_onboarding %}
              {% capture i %}{% cycle "1", "2" %}{% endcapture %}
              {{ 'product-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--product' }}
            {% else %}
              {% include 'product-images' %}
            {% endif %}
          </div>

        <div class="eight columns featured-product-info content_column">
          {% if section_onboarding %}
            <h3 class="product_name">
              <a href="{{ product.url }}">{% comment %}ly_i18n_replace_for_[ 'homepage.onboarding.product_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'homepage.onboarding.product_title' | t }}{% endcapture %}{% include 'ly-static-string' with '10771944' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
            </h3>
          {% else %}
            <h3 class="product_name">
              <a href="{{ product.url }}">{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
            </h3>

            {% if settings.enable_shopify_product_badges %}
              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            {% endif %}

            {% if display_vendor %}
              <p class="vendor">
                <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
              </p>
            {% endif %}
          {% endif %}

          {% if section_onboarding %}
            <p class="modal_price" itemscope itemtype="http://schema.org/Offer">
              <span class="current_price">
                $49.00
              </span>
            </p>
          {% else %}
            {% include 'size-chart-popup' %}

            {% unless collection_handles contains 'coming-soon' %}
              {% assign variant = product.selected_or_first_available_variant %}
              <p class="modal_price" itemscope itemtype="http://schema.org/Offer">
                  <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
                  <meta itemprop="seller" content="{{ langify_shop_name | escape }}" />
		  <link itemprop="availability" href="http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}">
                  <meta itemprop="itemCondition" content="New" />
	  
                  <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
                 <span itemprop="price" content="{{ variant.price | money_without_currency | remove: "," }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
                    <span class="current_price">
                      {% if variant.available %}
                        {% if variant.price > 0 %}
                          <span class="money">{{ variant.price | money }}</span>
                        {% else %}
                          {{ settings.free_price_text }}
                        {% endif %}
                      {% endif %}
                    </span>
                  </span>
                  <span class="was_price">
                  {% if variant.price < variant.compare_at_price %}
                    <span class="money">{{ variant.compare_at_price | money }}</span>
                  {% endif %}
                  </span>
              </p>
            {% endunless %}
          {% endif %}

          {% if section_onboarding %}
            <div class="description" itemprop="description">
              <p>
                {% comment %}ly_i18n_replace_for_[ 'homepage.onboarding.product_description' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'homepage.onboarding.product_description' | t }}{% endcapture %}{% include 'ly-static-string' with '10771946' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
              </p>
            </div>
          {% elsif frontpage_display_description and product.description != blank %}
            <div class="description" itemprop="description">
              {% comment %}ly_code_replace_for_[ product.description | split: '<!-- split -->' | first ]_begin{% endcomment %}{% include 'ly-description' with product %}{{ ly_translation | split: '<!-- split -->' | first }}{% comment %}ly_code_replace_end{% endcomment %}
            </div>
          {% endif %}

          {% if section_onboarding %}
            <button type="submit" name="add" class="action_button add_to_cart" data-label={{ add_to_cart_label | json }}><span class="text">{% comment %}ly_i18n_replace_for_[ 'products.product.add_to_cart' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.add_to_cart' | t }}{% endcapture %}{% include 'ly-static-string' with '10771947' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span></button>
          {% else %}
            {% unless collection_handles contains 'coming-soon' %}
              {% include 'product-notify-me' %}
              <div class="js-product_section product_section">
                {% include 'product-form' with 'product' %}
              </div>
            {% endunless %}
          {% endif %}
        </div>

      </div>
      {% if grid_text_position == 'left' %}
          <div class="six columns offset-by-one featured-product-image">
            {% if section_onboarding %}
              {% capture i %}{% cycle "1", "2" %}{% endcapture %}
              {{ 'product-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--product' }}
            {% else %}
              {% include 'product-images' %}
            {% endif %}
          </div>
        {% endif %}
  </div>
</div>
