{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% if type == 'block' %}
  {% assign content_page = block.settings.content_page %}
{% else %}
  {% assign content_page = section.settings.content_page %}
{% endif %}

<div class="container">
  <div class="sixteen columns">
    <div class="homepage_content section clearfix trim-last-paragraph">
      {% if content_page != blank %}
        {% capture pmc_content %}{% comment %}ly_code_replace_for_[ pages[content_page].content ]_begin{% endcomment %}{% include 'ly-content' with pages[content_page] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}{% endcapture %}{% include 'page-multi-column', content: pmc_content %}
      {% else %}
        {% comment %}ly_i18n_replace_for_[ 'homepage.onboarding.no_content' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'homepage.onboarding.no_content' | t }}{% endcapture %}{% include 'ly-static-string' with '10771941' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
      {% endif %}
    </div>
  </div>
</div>