{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% comment %}
  Snippet can be used in section or block
  eg. {% include 'include-map' %}
{% endcomment %}

{% comment %}Assign object as block or section{% endcomment %}

{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

{% assign id = object.id %}

{% assign map_address = object.settings.map_address %}
{% assign title = object.settings.title %}
{% assign address_and_hours = object.settings.address_and_hours %}
{% assign store_hours = object.settings.store_hours %}
{% assign info_text_color = object.settings.info_text_color %}
{% assign info_color = object.settings.info_color %}
{% assign image = object.settings.image %}
{% assign text_alignment = object.settings.text_alignment %}
{% assign map_position = object.settings.map_position %}
{% assign zoom_level = object.settings.zoom_level %}
{% assign wide_display = object.settings.wide_display %}
{% assign api_key = object.settings.api_key %}
{% assign show_pin = object.settings.show_pin %}
{% assign button_label = object.settings.button_label %}
{% assign map_style = object.settings.map_style %}

<div id="map-section-{{ id }}" class="clearfix map--container {% unless wide_display == true %}container{% endunless %}">
  <section class="{% unless wide_display == true %}sixteen columns{% endunless %} ">
    <div class="mapLayout mapLayout--{{ map_position }} map-hours--{{ store_hours }}">
      <div class="mapLayout--display">
        {% if map_address != blank and api_key != blank %}
          {% if api_key != blank %}
            <div class="map maps {% if api_key %}js-api-map{% endif %}" id="map-{{ section.id }}"
                 data-address="{{ map_address | strip_html }}"
                 data-zoom="{{ zoom_level }}"
                 data-pin="{{ show_pin }}"
                 data-id="map-{{ section.id }}"
                 data-style="{{ map_style }}"
                 data-api-key="{{ api_key }}"
                 data-directions-address="{{ map_address | strip_html | handleize | replace: '_', '+' | replace: ' ', '+'}}">
            </div>
          {% else %}
            <div class="maps">
              <iframe width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q={% if map_address != blank %}{{ map_address | strip_html | replace: ' ', '+' }}{% else %}{{ shop.address.street }}{% endif %}&amp;z={{ zoom_level }}&amp;output=embed"></iframe>
            </div>
          {% endif %}
        {% elsif map_address != blank and api_key == blank %}
          <div class="maps">
            <iframe width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q={% if map_address != blank %}{{ map_address | strip_html | replace: ' ', '+' }}{% else %}{{ shop.address.street }}{% endif %}&amp;z={{ zoom_level }}&amp;output=embed"></iframe>
          </div>
        {% else %}
          {% if image %}
            <img  src="{{ image | img_url: '300x' }}"
                  alt="{{ image.alt | escape }}"
                  data-src="{{ image | img_url: '2048x' }}"
                  class="lazyload lazyload--fade-in"
                  data-sizes="auto"
                  data-srcset=" {{ image | img_url: '2048x' }} 2048w,
                                {{ image | img_url: '1600x' }} 1600w,
                                {{ image | img_url: '1200x' }} 1200w,
                                {{ image | img_url: '1000x' }} 1000w,
                                {{ image | img_url: '800x' }} 800w,
                                {{ image | img_url: '600x' }} 600w,
                                {{ image | img_url: '400x' }} 400w"
                   />
          {% else %}
            {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--banner' }}
          {% endif %}
        {% endif %}
      </div>

      {% if store_hours != blank %}
        <div class="mapLayout--info" style="color: {{ info_text_color }}; background-color: {{ info_color }}">
          <div class="info align_{{ text_alignment }}">
              {% if title != blank %}
                <h2 class="title align_{{ text_alignment }}" style="color: {{ info_text_color }};">
                  {{ title | escape }}
                </h2>
              {% endif %}
              {% if address_and_hours != blank %}
                <div class="mapLayout__address">
                  {{ address_and_hours }}
                </div>
              {% endif %}
            {% if button_label != blank %}
              <a href="" class="js-map-link action_button mapLayout--directions">
                {{ button_label | escape }}
              </a>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </section>
</div>

<style>
  #map-section-{{ id }} .maps,
  #map-section-{{ id }} .maps.js-api-map,
  #map-section-{{ id }} .maps iframe,
  #map-section-{{ id }} .map__placeholder img,
  #map-section-{{ id }} .maps .placeholder-svg {
    height: 400px;
  }
</style>
