{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% if type == 'block' %}
  {% assign title = block.settings.title %}
  {% assign blog_widget_select = block.settings.blog_widget_select %}
  {% assign home_page_articles = block.settings.home_page_articles %}
  {% assign blog_tags = block.settings.blog_tags %}
  {% assign blog_author = block.settings.blog_author %}
  {% assign blog_date = block.settings.blog_date %}
  {% assign blog_comment_count = block.settings.blog_comment_count %}
  {% assign read_more_link = block.settings.read_more_link %}
{% else %}
  {% assign title = section.settings.title %}
  {% assign blog_widget_select = section.settings.blog_widget_select %}
  {% assign home_page_articles = section.settings.home_page_articles %}
  {% assign blog_tags = section.settings.blog_tags %}
  {% assign blog_author = section.settings.blog_author %}
  {% assign blog_date = section.settings.blog_date %}
  {% assign blog_comment_count = section.settings.blog_comment_count %}
  {% assign read_more_link = section.settings.read_more_link %}
{% endif %}
{%- assign blog = blogs[blog_widget_select] -%}

<div class="container">
  {% if blog != blank %}
    <div class="section clearfix homepage_content">
      {% if title != blank %}
        <div class="sixteen columns">
          <h2 class="section-header home text-align--center">
            <a href="{{ blog.url }}">
              {{ title | escape }}
            </a>
          </h2>
        </div>
      {% endif %}

      {% for article in blog.articles limit: home_page_articles %}
        <div class="{% if home_page_articles == 2 %}eight columns{% elsif home_page_articles == 3 %}one-third column{% else %}four columns{% endif %} article">
          {% if article.image %}
            <div class="article__imageContainer">
              <a href="{{ article.url }}" title="{% comment %}ly_code_replace_for_[ article.title | escape ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">
                <img  src="{{ article.image | img_url: '300x' }}"
                      alt="{% if article.image.alt != blank %}{{ article.image.alt }}{% else %}{% comment %}ly_code_replace_for_[ article.title | escape ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}{% endif %}"
                      data-src="{{ article.image | img_url: '800x' }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- article.image.width -}}px"
                      data-sizes="auto"
                      data-srcset=" {{ article.image | img_url: '2048x' }} 2048w,
                                    {{ article.image | img_url: '1600x' }} 1600w,
                                    {{ article.image | img_url: '1200x' }} 1200w,
                                    {{ article.image | img_url: '1000x' }} 1000w,
                                    {{ article.image | img_url: '800x' }} 800w,
                                    {{ article.image | img_url: '600x' }} 600w,
                                    {{ article.image | img_url: '400x' }} 400w"
                      />
              </a>
            </div>
          {% endif %}

          {% if blog_tags %}
            <div class="blog_meta tags">
              {% for tag in article.tags %}
                <span><a href="{{ langify_shop_url}}/blogs/{{ blogs[blog_widget_select].handle }}/tagged/{{ tag | handleize }}" title="{% comment %}ly_code_replace_for_[ blogs[blog_widget_select].title | escape ]_begin{% endcomment %}{% include 'ly-title' with blogs[blog_widget_select] %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %} {% comment %}ly_i18n_replace_for_[ 'blogs.general.tagged' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.general.tagged' | t }}{% endcapture %}{% include 'ly-static-string' with '10771925' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} {{ tag | escape }}">{{ tag }}</a></span>
              {% endfor %}
            </div>
          {% endif %}

          <h5 class="sub_title">
            <a href="{{ article.url }}" title="{% comment %}ly_code_replace_for_[ article.title | escape ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">{% comment %}ly_code_replace_for_[ article.title ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
          </h5>
          <p class="blog_meta">
            {% if blog_author %}
              <span>{% comment %}ly_i18n_replace_for_[ 'blogs.article.by_author' | t: author: article.author ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.article.by_author' | t: author: article.author }}{% endcapture %}{% include 'ly-static-string' with '10771927' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.author  %}{% assign ly_template = ly_template | replace: '[[author]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
            {% endif %}

            {% if blog_date %}
              <span>{{ article.published_at | date: format: "month_day_year" }}</span>
            {% endif %}

            {% if blog_comment_count %}
              {% if settings.disqus_enabled %}
                <span>
                  <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="disqus-comment-count">{% comment %}ly_i18n_replace_for_[ 'blogs.counts.comments_with_count' | t: count: 0 ]_begin{% endcomment %}{% if 0  == 0 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: 0 }}{% endcapture %}{% include 'ly-static-string' with '10771929' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 0  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif 0  == 1 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: 0 }}{% endcapture %}{% include 'ly-static-string' with '10771928' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 0  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif 0  == 2 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: 0 }}{% endcapture %}{% include 'ly-static-string' with '10771929' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 0  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: 0 }}{% endcapture %}{% include 'ly-static-string' with '10771929' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 0  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
                </span>
              {% elsif article.comments_enabled? and article.comments_count > 0 %}
                <span>
                  <a href="{{ article.url }}#comments">{% comment %}ly_i18n_replace_for_[ 'blogs.counts.comments_with_count' | t: count: article.comments_count ]_begin{% endcomment %}{% if article.comments_count  == 0 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '10771933' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif article.comments_count  == 1 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '10771932' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif article.comments_count  == 2 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '10771933' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '10771933' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
                </span>
              {% endif %}
            {% endif %}
          </p>

          {% if article.excerpt != blank %}
            {% assign postexcerpt = article.excerpt | size %}
              {% if postexcerpt > 100 %}
                {% assign excerptlength = 'lg' %}
              {% elsif postexcerpt <= 50 %}
                {% assign excerptlength = 'sm' %}
            {% endif %}
            <div class="excerpt excerpt-length--{{ excerptlength }} {{ postexcerpt }}">
              {% comment %}ly_code_replace_for_[ article.excerpt ]_begin{% endcomment %}{% include 'ly-excerpt' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %} 
              <span class="truncation-fade"></span>
            </div>
          {% endif %}
          {% if read_more_link %}
            <p class="read-more trim-paragraph">
              <a class="animate-arrow" href="{{ article.url }}" title="{% comment %}ly_code_replace_for_[ article.title | escape ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">{% comment %}ly_i18n_replace_for_[ 'blogs.general.continue_reading_html' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.general.continue_reading_html' | t }}{% endcapture %}{% include 'ly-static-string' with '10771936' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} <span class="icon-right-arrow"></span></a>
            </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="section clearfix homepage_content">
      {% if title != blank %}
        <div class="sixteen columns">
          <h2 class="section-header home text-align--center">
            <a href="{{ blog.url }}">
              {{ title | escape }}
            </a>
          </h2>
        </div>
      {% endif %}

      {% for i in (1..home_page_articles) %}
        <div class="{% if home_page_articles == 2 %}eight columns{% elsif home_page_articles == 3 %}one-third column{% else %}four columns{% endif %} article">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          <h5 class="sub_title">
            <a href="#" title="{{ '<ly-as-10771924>homepage.onboarding.blogpost_title</ly-as-10771924>' | escape }}">{% comment %}ly_i18n_replace_for_[ 'homepage.onboarding.blogpost_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'homepage.onboarding.blogpost_title' | t }}{% endcapture %}{% include 'ly-static-string' with '10771937' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
          </h5>
          <p class="blog_meta">
            {% if blog_author %}
              <span>{% comment %}ly_i18n_replace_for_[ 'homepage.onboarding.blog_author' | t: author: article.author ]_begin{% endcomment %}{% capture ly_template %}{{ 'homepage.onboarding.blog_author' | t: author: article.author }}{% endcapture %}{% include 'ly-static-string' with '10771939' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.author  %}{% assign ly_template = ly_template | replace: '[[author]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
            {% endif %}

            {% if blog_date %}
              <span>{{ 'now' | date: format: "month_day_year" }}</span>
            {% endif %}

            {% if blog_comment_count %}
              {% if settings.disqus_enabled %}
                <span>
                  <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="disqus-comment-count">{% comment %}ly_i18n_replace_for_[ 'blogs.counts.comments_with_count' | t: count: 0 ]_begin{% endcomment %}{% if 0  == 0 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: 0 }}{% endcapture %}{% include 'ly-static-string' with '10771929' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 0  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif 0  == 1 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: 0 }}{% endcapture %}{% include 'ly-static-string' with '10771928' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 0  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif 0  == 2 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: 0 }}{% endcapture %}{% include 'ly-static-string' with '10771929' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 0  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: 0 }}{% endcapture %}{% include 'ly-static-string' with '10771929' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 0  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
                </span>
              {% elsif article.comments_enabled? and article.comments_count > 0 %}
                <span>
                  <a href="{{ article.url }}#comments">{% comment %}ly_i18n_replace_for_[ 'blogs.counts.comments_with_count' | t: count: article.comments_count ]_begin{% endcomment %}{% if article.comments_count  == 0 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '10771933' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif article.comments_count  == 1 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '10771932' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif article.comments_count  == 2 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '10771933' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '10771933' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
                </span>
              {% endif %}
            {% endif %}
          </p>

          {% if article.excerpt != blank %}
            {% comment %}ly_i18n_replace_for_[ 'homepage.onboarding.blog_excerpt' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'homepage.onboarding.blog_excerpt' | t }}{% endcapture %}{% include 'ly-static-string' with '10771940' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
          {% endif %}
          {% if read_more_link %}
            <p class="read-more trim-paragraph">
              <a class="animate-arrow" href="{{ article.url }}" title="{% comment %}ly_code_replace_for_[ article.title | escape ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">{% comment %}ly_i18n_replace_for_[ 'blogs.general.continue_reading_html' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.general.continue_reading_html' | t }}{% endcapture %}{% include 'ly-static-string' with '10771936' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} <span class="icon-right-arrow"></span></a>
            </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif%}
</div>