{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% if settings.newsletter_popup %}
  <a id="newsletter" href="#target"></a>
  <span style="display: none;">
    <span id="target">
    
    {% if settings.newsletter_popup_link != blank %}
      <a href="{{ settings.newsletter_popup_link }}">
    {% endif %}

      <div class="popup-container imagePosition--{{ settings.popup_image_position }} {% if settings.newsletter_popup_image == blank %}no-image{% endif %}">
        {% if settings.newsletter_popup_image %}
          <div class="popup-image">
            <img src="{{ settings.newsletter_popup_image | img_url: '600x' }}" alt="{% if settings.newsletter_popup_image.alt != blank %}{{ settings.newsletter_popup_image.alt }}{% else %}{{ settings.newsletter_popup_title | escape }}{% endif %}" />
          </div>
        {% endif %}
        <div class="popup-text">
          {% if settings.newsletter_popup_title != blank %}
            <p class="headline">
              {{ settings.newsletter_popup_title | escape }}
            </p>
          {% endif %}

    {% if settings.newsletter_popup_image %}
      <p>
        {{ settings.newsletter_popup_image | img_url: '580x', scale: 2 | img_tag: settings.newsletter_popup_image.alt, 'lazyload lazyload--fade-in' }}
      </p>
    {% endif %}
          {% if settings.newsletter_popup_text != blank %}
            {% comment %}ly_new_settings_replace_for_[ settings.newsletter_popup_text ]_begin{% endcomment %}{% if request.host %}{% assign host = request.host %}{% assign domains = shop.metafields.language_domains %}{% for domain in domains %}{% assign key = domain | first %}{% assign value = domain | last | split: ',' %}{% if value contains host %}{% assign language = key %}{% endif %}{% endfor %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% else %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% endif %}{% assign namespace = language | append: "as" %}{% if shop.metafields[namespace]["id13204567"] %}{% assign ly_translation = shop.metafields[namespace]["id13204567"] %}{% else %}{% assign ly_translation = settings.newsletter_popup_text %}{% endif %}{{ ly_translation }}{% comment %}ly_new_settings_replace_end{% endcomment %}
          {% endif %}

        {% if settings.newsletter_popup_link != blank %}
        </a>
        {% endif %}

          {% if settings.newsletter_popup_form %}
            {% include 'newsletter' %}
          {% endif %}
        </div>
      </div>
    </span>
  </span>

  <script type="text/javascript">
    function openNewsletterPopup() {
      setTimeout( function() {
        $('#newsletter').fancybox({height: 'auto', minHeight: 'auto', wrapCSS: 'newsletter_popup', padding: [0, 0, 0, 0], scrolling: false, minWidth: {{ settings.newsletter_popup_max_width }} });
        $('#newsletter').trigger('click');
      },
      {% if settings.newsletter_popup_seconds != blank %}{{ settings.newsletter_popup_seconds }}{% else %}2{% endif %}*1000);
    }

    $(function() {
      var popup = $.cookie('popup');
      var cookie_enabled = {% if settings.newsletter_popup_days != blank and settings.newsletter_popup_days != "0" %}true{% else %}false{% endif %};

      if (cookie_enabled && popup == 'open') {
          return false;
      } else if ({{ settings.newsletter_popup_mobile }} || $(window).width() > 768) {
        openNewsletterPopup();
      }
      if (cookie_enabled) {
        $.cookie('popup', 'open', { expires: {{ settings.newsletter_popup_days }} });
      }
    });
  </script>
{% endif %}
