{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}

{% if placement == 'footer' %}
  {% assign display_first_name = section.settings.display_first_name %}
  {% assign display_last_name = section.settings.display_last_name %}
{% else %}
  {% assign display_first_name = settings.display_first_name %}
  {% assign display_last_name = settings.display_last_name %}
{% endif %}

<div class="newsletter {% if newsletter == 'center' %}center{% endif %}">
  <p class="message"></p>

  {% form 'customer' %}
    {% if form.posted_successfully? %}
      <p><em>{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.success_text' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.success_text' | t }}{% endcapture %}{% include 'ly-static-string' with '10771948' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</em></p>
    {% elsif form.errors %}
      {% for field in form.errors %}
        <p><em>{{ field }} - {{ form.errors.messages[field] }}</em></p>
      {% endfor %}
    {% endif %}

    {% if template contains "password" %}
     <input type="hidden" name="contact[tags]" value="prospect,password page"/>
    {% else %}
      <input type="hidden" name="contact[tags]" value="newsletter">
    {% endif %}

    <div class="input-row {% if display_first_name and display_last_name %}first-last{% endif %}">
      {% if display_first_name %}
        <input class="newsletter-half first-name" type="text" name="contact[first_name]" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.subscriber_first_name' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.subscriber_first_name' | t }}{% endcapture %}{% include 'ly-static-string' with '10771949' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" />
      {% endif %}
      {% if display_last_name %}
        <input class="newsletter-half last-name" type="text" name="contact[last_name]" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.subscriber_last_name' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.subscriber_last_name' | t }}{% endcapture %}{% include 'ly-static-string' with '10771950' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" />
      {% endif %}

      {% if display_first_name and display_last_name %}
        </div>
        <div class="input-row">
      {% endif %}

      <input type="hidden" name="challenge" value="false">
      <input type="email" class="contact_email" name="contact[email]" required placeholder="{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '10771951' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" autocorrect="off" autocapitalize="off" />
      <input type='submit' name="commit" class="action_button sign_up" value="{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '10771952' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" />
    </div>

  {% endform %}
</div>
