{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% comment %}

  This snippet renders a custom widget based on the current 'paginate' context,
  defined in { % paginate XXXX by 5 % } tags wrapping the content.

  Replace Text Example:
    <div class="pagination">
      {{ paginate | default_pagination | replace: 'Previous', 'Newer articles' | replace: 'Next', 'Older articles' }}
    </div>

  More information:
   - http://docs.shopify.com/themes/liquid-variables/paginate

{% endcomment %}

{% if paginate.pages > 1 %}
  <div class="{% if pagination %}twelve{% else %}sixteen{% endif %} columns">
    <div class="section clearfix">
      <div class="paginate">
        {{ paginate | default_pagination | replace: '&raquo;', '<span class="icon-right-arrow"></span>' | replace: '&laquo;', '<span class="icon-left-arrow"></span>' }}
      </div>
    </div>
  </div>
{% endif %}