{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% if settings.notify_me_form %}
  <div class="notify_form notify-form-{{ product.id }}" id="notify-form-{{ product.id }}" {% if product.available %}style="display:none"{% endif %}>
    <p class="message"></p>
    {% form 'contact', id: "notify_me" %}
      {% if form.errors %}
        <p><em>{% comment %}ly_i18n_replace_for_[ 'products.notify_form.post_error' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.notify_form.post_error' | t }}{% endcapture %}{% include 'ly-static-string' with '10771959' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</em></p>
      {% else %}
        <p>
          <label class="visuallyhidden" aria-hidden="true" for="contact[email]">{% comment %}ly_i18n_replace_for_[ 'products.notify_form.description' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.notify_form.description' | t }}{% endcapture %}{% include 'ly-static-string' with '10771960' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}:</label>

          {% if settings.notify_me_richtext %}
            {% comment %}ly_new_settings_replace_for_[ settings.notify_me_richtext ]_begin{% endcomment %}{% if request.host %}{% assign host = request.host %}{% assign domains = shop.metafields.language_domains %}{% for domain in domains %}{% assign key = domain | first %}{% assign value = domain | last | split: ',' %}{% if value contains host %}{% assign language = key %}{% endif %}{% endfor %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% else %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% endif %}{% assign namespace = language | append: "as" %}{% if shop.metafields[namespace]["id10771958"] %}{% assign ly_translation = shop.metafields[namespace]["id10771958"] %}{% else %}{% assign ly_translation = settings.notify_me_richtext %}{% endif %}{{ ly_translation }}{% comment %}ly_new_settings_replace_end{% endcomment %}
          {% endif %}
          <div class="notify_form__inputs {% if customer %}customer--true{% endif %}"  data-body="{{ 'products.notify_form.message_content' | t: product: product.title, url: canonical_url }}">
            {% if product.variants.size >= 1 and product.available == false %}
                {% if customer %}
                  <input type="hidden" name="contact[email]" class="notify_email" id="contact[email]" value="{{ customer.email }}" />
                {% else %}
                  <input required type="email" class="notify_email" name="contact[email]" id="contact[email]" placeholder="{{ 'products.notify_form.email' | t }}" value="{{ contact.fields.email }}" />
                {% endif %}

                <input type="hidden" name="challenge" value="false" />
          <input type="hidden" name="contact[body]" class="notify_form_message" data-body="{% comment %}ly_i18n_replace_for_[ 'products.notify_form.message_content' | t: product: product.title, url: canonical_langify_url ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.notify_form.message_content' | t: product: product.title, url: canonical_langify_url }}{% endcapture %}{% include 'ly-static-string' with '12008306' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% include 'ly-title' with product %}{% assign replacement = ly_translation %}{% assign ly_template = ly_template | replace: '[[product]]', replacement %}{% assign replacement = canonical_langify_url  %}{% assign ly_template = ly_template | replace: '[[url]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" value="{% comment %}ly_i18n_replace_for_[ 'products.notify_form.message_content' | t: product: product.title, url: canonical_langify_url ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.notify_form.message_content' | t: product: product.title, url: canonical_langify_url }}{% endcapture %}{% include 'ly-static-string' with '12008306' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% include 'ly-title' with product %}{% assign replacement = ly_translation %}{% assign ly_template = ly_template | replace: '[[product]]', replacement %}{% assign replacement = canonical_langify_url  %}{% assign ly_template = ly_template | replace: '[[url]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" />
          <input class="action_button" type="submit" value="{% comment %}ly_i18n_replace_for_[ 'products.notify_form.send' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.notify_form.send' | t }}{% endcapture %}{% include 'ly-static-string' with '10771965' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" style="margin-bottom:0px" />    
            {% endif %}
          </div>
        </p>
      {% endif %}
    {% endform %}
  </div>
{% endif %}