{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% if sidebar %}
  <div class="{% if products_per_row == 2 %}six {% cycle collection_group_thumb: 'alpha', 'omega' %}{% elsif products_per_row == 3 %}four {% cycle collection_group_thumb: 'alpha', '', 'omega' %}{% else %}three {% cycle collection_group_thumb: 'alpha', '', '', 'omega' %}{% endif %} thumbnail column columns {% cycle collection_group_mobile: 'even', 'odd' %} price_align--{{ settings.collection_price_position }}"
  data-initial-width="{% if products_per_row == 2 %}eight{% elsif products_per_row == 3 %}one-third{% elsif products_per_row == 4 %}four{% endif %}" data-sidebar-width="{% if products_per_row == 2 %}six{% elsif products_per_row == 3 %}four{% elsif products_per_row == 4 %}three{% endif %}"
  >
{% else %}
  <div class="{% if products_per_row == 2 %}eight {% cycle collection_group_thumb: 'alpha', 'omega' %}{% elsif products_per_row == 3 %}one-third {% cycle collection_group_thumb: 'alpha', '', 'omega' %}{% else %}four {% cycle collection_group_thumb: 'alpha', '', '', 'omega' %}{% endif %} thumbnail column columns {% cycle collection_group_mobile: 'even', 'odd' %} price_align--{{ settings.collection_price_position }}" data-initial-width="{% if products_per_row == 2 %}eight{% elsif products_per_row == 3 %}one-third{% elsif products_per_row == 4 %}four{% endif %}" data-sidebar-width="{% if products_per_row == 2 %}six{% elsif products_per_row == 3 %}four{% elsif products_per_row == 4 %}three{% endif %}">
{% endif %}

  {% assign collection_handles = product.collections | map: 'handle' %}
  {% if product.featured_image.alt contains 'youtube' or image.alt contains 'vimeo' %}
    {% assign alt_text = product.title %}
  {% else %}
    {% assign alt_text = product.featured_image.alt %}
  {% endif %}

  {% if settings.align_height %}
    {% assign collection_height = settings.collection_height | plus: 0 %}
    {% assign product_aspect_ratio = product.featured_image.aspect_ratio | plus: 0 %}
    {% assign product_set_width = product_aspect_ratio | times: collection_height %}

    {% if product.featured_image.width >= product.featured_image.height %}
      {% assign align_height_value = 'width: 100%; height: auto;' %}
    {% else %}
      {% assign align_height_value = 'width: 100%;' %}
    {% endif %}

  {% endif %}

  <a href="{{ product.url | within: collection }}" itemprop="url">
    <div class="relative product_image">
      <div class="product_container swap-{{ settings.collection_secondary_image }}">
        <div class="image__container" style="{% if settings.align_height %} max-width: {{ product_set_width }}px; {% else %} max-width: {{- product.featured_image.width -}}px; {% endif %}">
          <img  src="{{ product.featured_image | product_img_url: '300x' }}"
                alt="{{ alt_text | escape }}"
                class="lazyload lazyload--fade-in"
                style="{{ align_height_value }} max-width: {{- product.featured_image.width -}}px;"
                data-sizes="auto"
                data-src="{{ product.featured_image | product_img_url: '2048x' }}"
                data-srcset=" {{ product.featured_image | product_img_url: '2048x' }} 2048w,
                              {{ product.featured_image | product_img_url: '1600x' }} 1600w,
                              {{ product.featured_image | product_img_url: '1200x' }} 1200w,
                              {{ product.featured_image | product_img_url: '1000x' }} 1000w,
                              {{ product.featured_image | product_img_url: '800x' }} 800w,
                              {{ product.featured_image | product_img_url: '600x' }} 600w,
                              {{ product.featured_image | product_img_url: '400x' }} 400w"
              />
          {% if settings.collection_secondary_image != blank %}
            <div class="image__container" style="max-width: {% if product.images[1] != blank %}{{- product.images[1].width -}}px{% else %}{{- product.featured_image.width -}}px{% endif %}; ">
              <img src="{% if product.images[1] != blank %}{{ product.images[1] | product_img_url: '900x' }}{% else %}{{ product.featured_image | product_img_url: '900x' }}{% endif %}"
              class="secondary lazyload"
              alt="{{ alt_text | escape }}"
              />
            </div>
          {% endif %}
        </div>

      </div>
    </div>

    <div class="info">
      <div class="info__text">
        <span class="title" itemprop="name">{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span>
        {% if settings.enable_shopify_collection_badges %}
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% endif %}
        {% if settings.display_vendor_collection %}
          <div class="vendor">
            <span itemprop="brand">{% comment %}ly_code_replace_for_[ product.vendor ]_begin{% endcomment %}{% include 'ly-vendor' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span>
          </div>
        {% endif %}
      </div>
      {% unless collection_handles contains 'coming-soon' %}
        <span class="price {% if product.compare_at_price_max > product.price %}sale{% endif %}" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="price" content="{{ product.price_min | money_without_currency | remove: "," }}" />
          <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
          <meta itemprop="seller" content="{{ langify_shop_name | escape }}" />
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
          <meta itemprop="itemCondition" content="New" />
          {% if product.available %}
            {% if product.price_varies and product.price_min > 0 %}
              <small><em>{% comment %}ly_i18n_replace_for_[ 'products.general.from' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.general.from' | t }}{% endcapture %}{% include 'ly-static-string' with '10771967' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</em></small>
            {% endif %}
            {% if product.price_min > 0 %}
              <span class="money">{{ product.price_min | money }}</span>
            {% else %}
              {{ settings.free_price_text }}
            {% endif %}
            {% if product.compare_at_price_max > product.price %}
              <span class="was_price">
                <span class="money">{{ product.compare_at_price_max | money }}</span>
              </span>
            {% endif %}
          {% else %}
            <span class="sold_out">{% comment %}ly_i18n_replace_for_[ 'products.product.sold_out' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.sold_out' | t }}{% endcapture %}{% include 'ly-static-string' with '10771968' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
          {% endif %}
        </span>
      {% endunless %}
    </div>
    <div class="banner_holder">
      {% if settings.sale_banner_enabled and product.compare_at_price_max > product.price %}
        <div class="sale_banner">{% comment %}ly_i18n_replace_for_[ 'collections.general.sale' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.general.sale' | t }}{% endcapture %}{% include 'ly-static-string' with '10771969' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</div>
      {% endif %}
      {% if collection_handles contains 'new' %}
        <div class="new_banner">{% comment %}ly_i18n_replace_for_[ 'collections.general.new' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.general.new' | t }}{% endcapture %}{% include 'ly-static-string' with '10771970' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</div>
      {% endif %}
      {% if collection_handles contains 'coming-soon' %}
        <div class="new_banner">{% comment %}ly_i18n_replace_for_[ 'collections.general.coming_soon' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.general.coming_soon' | t }}{% endcapture %}{% include 'ly-static-string' with '10771971' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</div>
      {% endif %}
      {% if collection_handles contains 'pre-order' %}
        <div class="new_banner">{% comment %}ly_i18n_replace_for_[ 'collections.general.pre_order' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.general.pre_order' | t }}{% endcapture %}{% include 'ly-static-string' with '10771972' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</div>
      {% endif %}
    </div>
  </a>
  {% if settings.quick_shop_enabled %}
    <div data-fancybox-href="#product-{{ product.id }}" class="quick_shop action_button" data-gallery="product-{{ product.id }}-gallery">
      {% comment %}ly_i18n_replace_for_[ 'collections.general.quick_shop' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.general.quick_shop' | t }}{% endcapture %}{% include 'ly-static-string' with '10771973' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
    </div>
  {% endif %}
  {% include 'collection-swatch' %}
</div>

{% if settings.quick_shop_enabled %}
  {% if product.description contains "#tab1" %}
    {% assign tabs = true %}
  {% else %}
    {% assign tabs = false %}
  {% endif %}

  <div id="product-{{ product.id }}" class="modal product-{{ product.id }}">
    <div class="container section" style="width: inherit">
      <div class="eight columns modal_image flex-active-slide">
        {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
        <img  src="{{ featured_image | product_img_url: '580x', scale: 2 }}"
              class="lazyload lazyload--fade-in"
              alt="{{ alt_text | escape }}" />
      </div>
      <div class="six columns">
        <h3>{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h3>
        {% if settings.enable_shopify_product_badges %}
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% endif %}
        {% if settings.display_vendor_collection %}
          <p class="vendor">
            <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
          </p>
        {% endif %}

        {% include 'size-chart-popup' %}

        {% assign variant = product.selected_or_first_available_variant %}

        {% if collection_handles contains 'coming-soon' %}
          <p class="modal_price">{{ 'collections.general.coming_soon' | t }}</p>
        {% else %}
          <p class="modal_price">
            <span class="sold_out">{% if variant.available == false %}{% comment %}ly_i18n_replace_for_[ 'products.product.sold_out' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.sold_out' | t }}{% endcapture %}{% include 'ly-static-string' with '10771968' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}{% endif %}</span>
            <span class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
              <span class="current_price {% if product.available == false %}hidden{% endif %}">
                {% if variant.price > 0 %}
                  <span class="money">{{ variant.price | money }}</span>
                {% else %}
                  {{ settings.free_price_text }}
                {% endif %}
              </span>
            </span>
            <span class="was_price">
              {% if variant.price < variant.compare_at_price and variant.available %}
                <span class="money">{{ variant.compare_at_price | money }}</span>
              {% endif %}
            </span>
          </p>
          {% include 'product-notify-me' %}
        {% endif %}

        {% if settings.product_description_position == "top" %}
          {% if settings.description_words == "none" %}
            {% comment %}ly_code_replace_for_[ product.description | split: '<!-- split -->' | first ]_begin{% endcomment %}{% include 'ly-description' with product %}{{ ly_translation | split: '<!-- split -->' | first }}{% comment %}ly_code_replace_end{% endcomment %}
          {% else %}
            {% if tabs %}
              {% comment %}ly_code_replace_for_[ product.description | split: '<!-- split -->' | first ]_begin{% endcomment %}{% include 'ly-description' with product %}{{ ly_translation | split: '<!-- split -->' | first }}{% comment %}ly_code_replace_end{% endcomment %}
            {% else %}
              <p>{% comment %}ly_code_replace_for_[ product.description | strip_html | truncatewords: settings.description_words ]_begin{% endcomment %}{% include 'ly-description' with product %}{{ ly_translation | strip_html | truncatewords: settings.description_words }}{% comment %}ly_code_replace_end{% endcomment %}</p>
            {% endif %}
          {% endif %}
          <p>
            <a href="{{ product.url | within: collection }}" class="view_product_info" title="{% comment %}ly_code_replace_for_[ product.title | escape ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">{% comment %}ly_i18n_replace_for_[ 'collections.general.view_product_details_html' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.general.view_product_details_html' | t }}{% endcapture %}{% include 'ly-static-string' with '10771974' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
          </p>
          <hr />
        {% endif %}

        {% unless collection_handles contains 'coming-soon' %}
          {% include 'product-form', show_payment_button_quickshop: settings.show_payment_button %}
        {% endunless %}

        {% if settings.product_description_position == "bottom" %}
          <hr />
          {% if settings.description_words == "none" %}
            {% comment %}ly_code_replace_for_[ product.description | split: '<!-- split -->' | first ]_begin{% endcomment %}{% include 'ly-description' with product %}{{ ly_translation | split: '<!-- split -->' | first }}{% comment %}ly_code_replace_end{% endcomment %}
          {% else %}
            {% if tabs %}
              {% comment %}ly_code_replace_for_[ product.description | split: '<!-- split -->' | first ]_begin{% endcomment %}{% include 'ly-description' with product %}{{ ly_translation | split: '<!-- split -->' | first }}{% comment %}ly_code_replace_end{% endcomment %}
            {% else %}
              <p>{% comment %}ly_code_replace_for_[ product.description | strip_html | truncatewords: settings.description_words ]_begin{% endcomment %}{% include 'ly-description' with product %}{{ ly_translation | strip_html | truncatewords: settings.description_words }}{% comment %}ly_code_replace_end{% endcomment %}</p>
            {% endif %}
          {% endif %}
          <p>
            <a href="{{ product.url | within: collection }}" class="view_product_info" title="{% comment %}ly_code_replace_for_[ product.title | escape ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">{% comment %}ly_i18n_replace_for_[ 'collections.general.view_product_details_html' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.general.view_product_details_html' | t }}{% endcapture %}{% include 'ly-static-string' with '10771974' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
