{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% if section.blocks.size > 0 %}
  <div class="sidebar four columns toggle-all--{{ section.settings.toggle }}">
    {% for block in section.blocks %}
      <div {{ block.shopify_attributes }}>
        {% if block.type == 'menu' %}
          {% assign sidebar_menu = linklists[block.settings.custom_menu_linklist] %}
          {% if sidebar_menu != blank %}
            <h4 class="toggle" aria-haspopup="true" aria-expanded="false"><span>+</span>{% comment %}ly_code_replace_for_[ sidebar_menu.title ]_begin{% endcomment %}{% include 'ly-title' with sidebar_menu %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h4>
            <ul class="blog_list toggle_list">
              {% for link in sidebar_menu.links %}
                <li>
                  <a {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
                  link url: {{link.url}}
                      class="{% if link.active or link.child_active %}active{% endif %} {% if link.links != blank %}parent-link--false {% endif %}"
                    {% else %}
                      class="{% if link.active or link.child_active %}active{% endif %} {% if link.links != blank %}parent-link--true {% endif %}" href="{{ link.url }}"
                    {% endif %}>
                    {% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>

                  {% if link.links != blank %}
                    <span class="menu-toggle icon-down-arrow {% if link.active or link.child_active %}active{% endif %}" aria-haspopup="true" aria-expanded="{% if link.active or link.child_active %}true{% else %}false{% endif %}"> </span>

                    <ul class="{% if link.active or link.child_active %}active{% endif %}">
                      {% for sub_link in link.links %}
                        <li class="sub-menu {% if sub_link.active or sub_link.child_active %}active{% endif %}">
                          <a {% if sub_link.url == 'http://' or sub_link.url == '' or sub_link.url == '/' or sub_link.url == 'https://' or sub_link.url == '#' %}
                          sub_link url: {{sub_link.url}}
                              class="{% if sub_link.active or sub_link.child_active %}active{% endif %} {% if sub_link.links != blank %}parent-link--false {% endif %}"
                            {% else %}
                              class="{% if sub_link.active or sub_link.child_active %}active{% endif %} {% if sub_link.links != blank %}parent-link--true {% endif %}" href="{{ sub_link.url }}"
                            {% endif %}>
                            {% comment %}ly_code_replace_for_[ sub_link.title ]_begin{% endcomment %}{% include 'ly-title' with sub_link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>

                          {% if sub_link.links != blank %}
                            <span class="menu-toggle icon-down-arrow {% if sub_link.active or sub_link.child_active %}active{% endif %}" aria-haspopup="true" aria-expanded="{% if sub_link.active or sub_link.child_active %}true{% else %}false{% endif %}"> </span>

                            <ul class="{% if sub_link.active or sub_link.child_active %}active{% endif %}">
                              {% for sub_sub_link in sub_link.links %}
                                <li class="sub-menu">
                                  <a {% if sub_sub_link.active %}class="active"{% endif %} href="{{ sub_sub_link.url }}">{% comment %}ly_code_replace_for_[ sub_sub_link.title ]_begin{% endcomment %}{% include 'ly-title' with sub_sub_link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
                                </li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <h4 class="toggle" aria-haspopup="true" aria-expanded="false"><span>+</span><ly-as-10771975>Menu title</ly-as-10771975></h4>
            <ul class="blog_list toggle_list">
              <li><p>{% comment %}ly_i18n_replace_for_[ 'homepage.onboarding.no_content' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'homepage.onboarding.no_content' | t }}{% endcapture %}{% include 'ly-static-string' with '10771979' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p></li>
            </ul>
          {% endif %}

        {% elsif block.type == 'page' %}
          {% if block.settings.content_page != blank %}
            <h4 class="toggle" aria-haspopup="true" aria-expanded="false"><span>+</span>{% comment %}ly_code_replace_for_[ pages[block.settings.content_page].title ]_begin{% endcomment %}{% include 'ly-title' with pages[block.settings.content_page] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h4>
            <ul class="blog_list toggle_list">
              <li>{% comment %}ly_code_replace_for_[ pages[block.settings.content_page].content ]_begin{% endcomment %}{% include 'ly-content' with pages[block.settings.content_page] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</li>
            </ul>
          {% else %}
            <h4 class="toggle" aria-haspopup="true" aria-expanded="false"><span>+</span><ly-as-10771976>Page title</ly-as-10771976></h4>
            <ul class="blog_list toggle_list">
              <li><p>{% comment %}ly_i18n_replace_for_[ 'homepage.onboarding.no_content' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'homepage.onboarding.no_content' | t }}{% endcapture %}{% include 'ly-static-string' with '10771979' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p></li>
            </ul>
          {% endif %}

        {% elsif block.type == 'filter_by_tag' %}
          {% assign tag_count = collection.all_tags | size %}
            <h4 class="toggle" aria-haspopup="true" aria-expanded="false"><span>+</span>{% comment %}ly_i18n_replace_for_[ 'collections.sidebar.tags' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.sidebar.tags' | t }}{% endcapture %}{% include 'ly-static-string' with '10771980' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h4>
            {% if tag_count > 0 %}
              <ul class="blog_list toggle_list">
                <li>
                  <a {% unless current_tags %}class="active--default"{% endunless %} href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}"><ly-as-10771977>All</ly-as-10771977> {% comment %}ly_code_replace_for_[ collection.title ]_begin{% endcomment %}{% include 'ly-title' with collection %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
                </li>
                {% for tag in collection.all_tags %}
                  {% unless tag contains 'meta-' %}
                    <li>
                      <a {% if current_tags contains tag %}class="active"{% endif %} href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}">{{ tag }}</a>
                    </li>
                  {% endunless %}
                {% endfor %}
              </ul>
            {% else %}
              <ul class="blog_list toggle_list">
                <li><p><ly-as-10771978>No tags available.</ly-as-10771978></p></li>
              </ul>
            {% endif %}

        {% elsif block.type == 'filter_by_type' %}
          <h4 class="toggle" aria-haspopup="true" aria-expanded="false"><span>+</span>{% comment %}ly_i18n_replace_for_[ 'collections.sidebar.product_types' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.sidebar.product_types' | t }}{% endcapture %}{% include 'ly-static-string' with '10771981' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h4>
          <ul class="blog_list toggle_list">
            {% for product_type in shop.types %}
              {% unless product_type == blank %}
                <li {% if product_type == collection.title %}class="active"{% endif %}>{{ product_type | link_to_type }}</li>
              {% endunless %}
            {% endfor %}
          </ul>

        {% elsif block.type == 'filter_by_collection' %}
          <h4 class="toggle" aria-haspopup="true" aria-expanded="false"><span>+</span>{% comment %}ly_i18n_replace_for_[ 'collections.sidebar.collections' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.sidebar.collections' | t }}{% endcapture %}{% include 'ly-static-string' with '10771982' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h4>
          <ul class="blog_list toggle_list">
            {% for col in collections %}
              {% unless col.handle == 'frontpage' %}
                <li {% if col.handle == collection.handle %}class="active"{% endif %}><a href="{{ col.url }}" title="{% comment %}ly_code_replace_for_[ col.title | escape ]_begin{% endcomment %}{% include 'ly-title' with col %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">{% comment %}ly_code_replace_for_[ col.title ]_begin{% endcomment %}{% include 'ly-title' with col %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a></li>
              {% endunless %}
            {% endfor %}
          </ul>

        {% elsif block.type == 'filter_by_vendor' %}
          <h4 class="toggle" aria-haspopup="true" aria-expanded="false"><span>+</span>{% comment %}ly_i18n_replace_for_[ 'collections.sidebar.vendors' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.sidebar.vendors' | t }}{% endcapture %}{% include 'ly-static-string' with '10771983' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h4>
          <ul class="blog_list toggle_list">
            {% for product_vendor in shop.vendors %}
              <li {% if product_vendor == collection.title %}class="active"{% endif %}>{{ product_vendor | link_to_vendor }}</li>
            {% endfor %}
          </ul>

        {% elsif block.type == 'text' %}
          <h4 class="toggle" aria-haspopup="true" aria-expanded="false"><span>+</span>{{ block.settings.title | escape }}</h4>
          <ul class="blog_list toggle_list">
            <li>{{ block.settings.text }}</li>
          </ul>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}
