{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% assign product_tags = product.tags | join: ' ' %}
{% if product_tags contains 'meta-size-chart-' %}
  {% for tag in product.tags %}
    {% if tag contains 'meta-size-chart-' %}
      {% assign size_chart = tag | handle | remove: 'meta-size-chart-' %}
      <a href="#size-chart-{{ product.id }}" class="lightbox size_chart">{% comment %}ly_i18n_replace_for_[ 'products.product.size_chart' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.size_chart' | t }}{% endcapture %}{% include 'ly-static-string' with '10771984' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} <span class="icon-right-arrow"></span></a>
      <div id="size-chart-{{ product.id }}" class="size_chart_content">
        <h5 class="center">{% comment %}ly_code_replace_for_[ pages[size_chart].title ]_begin{% endcomment %}{% include 'ly-title' with pages[size_chart] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h5>
        {% comment %}ly_code_replace_for_[ pages[size_chart].content ]_begin{% endcomment %}{% include 'ly-content' with pages[size_chart] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
      </div>
    {% endif %}
  {% endfor %}
{% elsif settings.size_chart != blank %}
  <a href="#size-chart" class="lightbox size_chart">{% comment %}ly_i18n_replace_for_[ 'products.product.size_chart' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.size_chart' | t }}{% endcapture %}{% include 'ly-static-string' with '10771984' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} <span class="icon-right-arrow"></span></a>
{% endif %}