{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% capture current_url %}{% if context == 'article' %}{{ langify_shop_url }}{{ article.url }}{% else %}{{ canonical_url }}{% endif %}{% endcapture %}

{% capture buttons %}
  <div class="social_buttons">
    {% capture title %}{% if context == 'article' %}{% comment %}ly_code_replace_for_[ article.title | strip_html| escape ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation | strip_html| escape }}{% comment %}ly_code_replace_end{% endcomment %}{% else %}{% comment %}ly_code_replace_for_[ product.title | strip_html | escape ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation | strip_html | escape }}{% comment %}ly_code_replace_end{% endcomment %}{% endif %}{% endcapture %}
    {% capture twitter_name %}{{ settings.twitter_link | split: 'twitter.com/' | last }}{% endcapture %}

  <a target="_blank" class="icon-twitter-share" title="{% comment %}ly_i18n_replace_for_[ 'layout.social_sharing.twitter_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.social_sharing.twitter_title' | t }}{% endcapture %}{% include 'ly-static-string' with '10771990' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" href="https://twitter.com/intent/tweet?text={{ title | truncate: 30 }}&url={{ current_url }}{%- if twitter_name != blank -%}&via={{ twitter_name }}{%- endif -%}"><ly-as-10771985>Tweet</ly-as-10771985></a>

  <a target="_blank" class="icon-facebook-share" title="{% comment %}ly_i18n_replace_for_[ 'layout.social_sharing.facebook_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.social_sharing.facebook_title' | t }}{% endcapture %}{% include 'ly-static-string' with '10771991' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" href="https://www.facebook.com/sharer/sharer.php?u={{ current_url }}"><ly-as-10771986>Share</ly-as-10771986></a>

    {% if context == 'article' %}
      <a target="_blank" data-pin-do="skipLink" class="icon-pinterest-share" title="{% comment %}ly_i18n_replace_for_[ 'layout.social_sharing.pinterest_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.social_sharing.pinterest_title' | t }}{% endcapture %}{% include 'ly-static-string' with '10771992' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" href="https://pinterest.com/pin/create/button/?url={{ current_url }}&description={% comment %}ly_code_replace_for_[ article.content | strip_html | truncate: 240 ]_begin{% endcomment %}{% include 'ly-content' with article %}{{ ly_translation | strip_html | truncate: 240 }}{% comment %}ly_code_replace_end{% endcomment %}&media={% if article.image %}{{ article.image | img_url: '600x' }}{% else %}{% assign my_image_url=article.content | escape %}{% if my_image_url contains '&lt;img' %}{% assign my_image_url = my_image_url | split: 'src=&quot;' %}{% assign my_image_url = my_image_url[1] | split: '&quot;' %}{% assign my_image_url = my_image_url[0] | remove: '//cdn' %}{% assign my_image_url = my_image_url | remove: 'http:http://' %}{% assign my_image_url = my_image_url | remove: 'https:' %}{{ my_image_url | prepend: 'http://cdn'}}{% endif %}{% endif %}"><ly-as-10771987>Pin It</ly-as-10771987></a>
    {% else %}
      <a target="_blank" data-pin-do="skipLink" class="icon-pinterest-share" title="{% comment %}ly_i18n_replace_for_[ 'layout.social_sharing.pinterest_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.social_sharing.pinterest_title' | t }}{% endcapture %}{% include 'ly-static-string' with '10771992' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" href="https://pinterest.com/pin/create/button/?url={{ current_url }}&description={{ title | truncate: 240 }}&media=https:{{ product.featured_image.src | product_img_url: '600x' }}"><ly-as-10771987>Pin It</ly-as-10771987></a>
    {% endif %}

    <a href="mailto:?subject={% comment %}ly_i18n_replace_for_[ 'layout.social_sharing.email_subject' | t: title: title ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.social_sharing.email_subject' | t: title: title }}{% endcapture %}{% include 'ly-static-string' with '10771995' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = title  %}{% assign ly_template = ly_template | replace: '[[title]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}&amp;body={% comment %}ly_i18n_replace_for_[ 'layout.social_sharing.email_message' | t: title: title, name: langify_shop_name ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.social_sharing.email_message' | t: title: title, name: langify_shop_name }}{% endcapture %}{% include 'ly-static-string' with '11218934' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = title %}{% assign ly_template = ly_template | replace: '[[title]]', replacement %}{% assign replacement = langify_shop_name  %}{% assign ly_template = ly_template | replace: '[[name]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}%0D%0A%0D%0A{{ current_url }}" target="_blank" class="icon-mail" title="{% comment %}ly_i18n_replace_for_[ 'layout.social_sharing.email_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.social_sharing.email_title' | t }}{% endcapture %}{% include 'ly-static-string' with '10771999' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}"><ly-as-10771989>Email</ly-as-10771989></a>
  </div>
{% endcapture %}

{% if context == 'article' %}
  <div class="share_article">
    {{ buttons }}
  </div>
{% elsif context == 'product' %}
  <hr />
  {{ buttons }}
{% endif %}
