{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% if settings.twitter_link != '' %}
  <a href="{{ settings.twitter_link }}" title="{{ langify_shop_name }} <ly-as-10772000>on Twitter</ly-as-10772000>" class="ss-icon" rel="me" target="_blank"> <img src="https://cdn.shopify.com/s/files/1/0091/8428/0635/files/5294_-_Twitter_I.png?4299941563882629106" style="width:20px"> </a> {% endif %}

{% if settings.facebook_link != '' %}
  <a href="{{ settings.facebook_link }}" title="{{ langify_shop_name }} <ly-as-10772001>on Facebook</ly-as-10772001>" class="ss-icon" rel="me" target="_blank"> <img src="https://cdn.shopify.com/s/files/1/0091/8428/0635/files/5293_-_Facebook_7efb2e2a-4ed5-41fb-808f-fb0d4248745a.png?10026334816270938179" style="width:20px"> </a> {% endif %}

{% if settings.google_link != '' %}
  <a href="{{ settings.google_link }}" title="{{ langify_shop_name }} <ly-as-10772002>on Google+</ly-as-10772002>" class="ss-icon" rel="publisher" target="_blank">
    &#xF613;
  </a>              
{% endif %}

{% if settings.youtube_link != '' %}
  <a href="{{ settings.youtube_link }}" title="{{ langify_shop_name }} <ly-as-10772003>on YouTube</ly-as-10772003>" class="ss-icon" rel="me" target="_blank">
    <img src="https://cdn.shopify.com/s/files/1/0091/8428/0635/files/5295_-_Youtube_I.png?4299941563882629106" style="width:20px">
  </a>              
{% endif %}

{% if settings.vimeo_link != '' %}
  <a href="{{ settings.vimeo_link }}" title="{{ langify_shop_name }} <ly-as-10772004>on Vimeo</ly-as-10772004>" class="ss-icon" rel="me" target="_blank">
    &#xF631;
  </a>              
{% endif %}

{% if settings.pinterest_link != '' %}
  <a href="{{ settings.pinterest_link }}" title="{{ langify_shop_name }} <ly-as-10772005>on Pinterest</ly-as-10772005>" class="ss-icon" rel="me" target="_blank">
    <img src="https://cdn.shopify.com/s/files/1/0091/8428/0635/files/5298_-_Pinterest.png?4299941563882629106" style="width:20px">
  </a>              
{% endif %}

{% if settings.tumblr_link != '' %}
  <a href="{{ settings.tumblr_link }}" title="{{ langify_shop_name }} <ly-as-10772006>on Tumblr</ly-as-10772006>" class="ss-icon" rel="me" target="_blank">
    <img src="https://cdn.shopify.com/s/files/1/0091/8428/0635/files/5300_-_Tumblr.png?10026334816270938179" style="width:20px">
  </a>              
{% endif %}

{% if settings.instagram_link != '' %}
  <a href="{{ settings.instagram_link }}" title="{{ langify_shop_name }} <ly-as-10772007>on Instagram</ly-as-10772007>" class="ss-icon" rel="me" target="_blank"> 
    <img src="https://cdn.shopify.com/s/files/1/0091/8428/0635/files/5301_-_Instagram.png?8100323795454447746" style="width:20px">
  </a>              
{% endif %}

{% if settings.linkedin_link != '' %}
  <a href="{{ settings.linkedin_link }}" title="{{ langify_shop_name }} <ly-as-10772008>on LinkedIn</ly-as-10772008>" class="ss-icon" rel="me" target="_blank">
    <img src="https://cdn.shopify.com/s/files/1/0091/8428/0635/files/5296_-_LinkedIn.png?4299941563882629106" style="width:20px">
  </a>              
{% endif %}

{% if settings.flickr_link != '' %}
  <a href="{{ settings.flickr_link }}" title="{{ langify_shop_name }} <ly-as-10772009>on Flickr</ly-as-10772009>" class="ss-icon" rel="me" target="_blank">
    <img src="https://cdn.shopify.com/s/files/1/0091/8428/0635/files/5310_-_Flickr.png?5058101575039039877" style="width:20px"> 
  </a>              
{% endif %}

{% if settings.email_link != '' %}
  <a href="mailto:{{ settings.email_link }}" title="<ly-as-10772010>Email</ly-as-10772010> {{ langify_shop_name }}" class="ss-icon" target="_blank">
    <img src="https://cdn.shopify.com/s/files/1/0091/8428/0635/files/5303_-_Gmail.png?8100323795454447746" style="width:20px">
  </a>              
{% endif %}