{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% paginate article.comments by 100 %}

{% comment %}Check to see if sidebar should be enabled{% endcomment %}
{% if section.blocks.size > 0 %}
  {% assign sidebar = true %}
{% else %}
  {% assign sidebar = false %}
{% endif %}

{% if article.image and section.settings.slideshow_post_enabled %}
  <div class="slider flexslider header_banner slideshow_article_darken--{{section.settings.slideshow_post_darken}}">
    <ul class="slides">
      <li>
        <img  src="{{ article.image | img_url: '300x' }}"
              alt="{% if article.image.alt != blank %}{{ article.image.alt }}{% else %}{% comment %}ly_code_replace_for_[ article.title | escape ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}{% endif %}"
              class="lazyload lazyload--fade-in banner_image"
              sizes="100vw"
              srcset="  {{ article.image | img_url: '2048x' }} 2048w,
                        {{ article.image | img_url: '1600x' }} 1600w,
                        {{ article.image | img_url: '1200x' }} 1200w,
                        {{ article.image | img_url: '1000x' }} 1000w,
                        {{ article.image | img_url: '800x' }} 800w,
                        {{ article.image | img_url: '600x' }} 600w,
                        {{ article.image | img_url: '400x' }} 400w"
               />

        <div class="flex-caption">
          <div class="container">
            <div class="ten offset-by-three columns center">
              <h1 class="headline">{% comment %}ly_code_replace_for_[ article.title ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h1>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="container content">
{% else %}
  <div class="container">
    <div class="sixteen columns">
      <div class="section clearfix">
        <div class="title"><a href="{{ blog.url }}" title="{% comment %}ly_code_replace_for_[ blog.title | escape ]_begin{% endcomment %}{% include 'ly-title' with blog %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">{% comment %}ly_code_replace_for_[ blog.title ]_begin{% endcomment %}{% include 'ly-title' with blog %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a></div>
      </div>
    </div>
{% endif %}

  <div class="twelve columns {% if sidebar == false %}offset-by-two{% endif %}">
    <div class="clearfix section">
      {% if section.settings.blog_breadcrumb %}
        <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
              {
                "@type": "ListItem",
                "position": 1,
                "item": {
                  "@id": "{{ langify_shop_url }}",
                  "name": "{{ 'general.breadcrumbs.home' | t }}"
                }
              },
              {
                "@type": "ListItem",
                "position": 2,
                "item": {
                  "@id": "{{ blog.url }}",
                  "name": "{{ blog.title }}"
                }
              }
            ]
          }
        </script>

        <div class="breadcrumb">
          <a href="{{ langify_shop_url }}" title="{{ langify_shop_name | escape }}">
            <span>{{ 'general.breadcrumbs.home' | t }}</span>
          </a>&nbsp;<span class="icon-right-arrow"></span>
          <a href="{{ blog.url }}" title="{{ blog.title | escape }}">
            <span>{{ blog.title }}</span>
          </a>&nbsp;<span class="icon-right-arrow"></span>
            <span>{{ article.title }}</span>
        </div>
      {% endif %}

      {% if section.settings.blog_tags and sidebar %}
        <div class="blog_meta tags {% if article.image and section.settings.slideshow_post_enabled %}right{% endif %}">
          {% for tag in article.tags %}
            <span><a href="{{ langify_shop_url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{% comment %}ly_code_replace_for_[ blog.title ]_begin{% endcomment %}{% include 'ly-title' with blog %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %} {% comment %}ly_i18n_replace_for_[ 'blogs.general.tagged' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.general.tagged' | t }}{% endcapture %}{% include 'ly-static-string' with '10771623' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} {{ tag | escape }}">{{ tag }}</a></span>
          {% endfor %}
        </div>
      {% endif %}

        {% unless article.image and section.settings.slideshow_post_enabled %}
          <h1 class="article_name">{% comment %}ly_code_replace_for_[ article.title ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h1>
        {% endunless %}

        <p class="blog_meta">
          {% if section.settings.blog_author %}
            <span>{% comment %}ly_i18n_replace_for_[ 'blogs.article.by_author' | t: author: article.author ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.article.by_author' | t: author: article.author }}{% endcapture %}{% include 'ly-static-string' with '10771625' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.author  %}{% assign ly_template = ly_template | replace: '[[author]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
          {% endif %}

          {% if section.settings.blog_date %}
            <span>{{ article.published_at | date: format: "month_day_year" }}</span>
          {% endif %}

          {% if section.settings.blog_comment_count %}
            {% if settings.disqus_enabled %}
              <span>
                <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="disqus-comment-count">{% comment %}ly_i18n_replace_for_[ 'blogs.counts.comments_with_count' | t: count: 0 ]_begin{% endcomment %}{% if 0  == 0 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: 0 }}{% endcapture %}{% include 'ly-static-string' with '10771627' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 0  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif 0  == 1 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: 0 }}{% endcapture %}{% include 'ly-static-string' with '10771626' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 0  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif 0  == 2 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: 0 }}{% endcapture %}{% include 'ly-static-string' with '10771627' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 0  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: 0 }}{% endcapture %}{% include 'ly-static-string' with '10771627' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 0  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
              </span>
            {% elsif article.comments_enabled? and article.comments_count > 0 %}
              <span>
                <a href="{{ article.url }}#comments">{% comment %}ly_i18n_replace_for_[ 'blogs.counts.comments_with_count' | t: count: article.comments_count ]_begin{% endcomment %}{% if article.comments_count  == 0 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '10771631' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif article.comments_count  == 1 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '10771630' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif article.comments_count  == 2 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '10771631' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '10771631' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
              </span>
            {% endif %}
          {% endif %}
        </p>

        {% if article.image and section.settings.slideshow_post_enabled == false %}
          <p>
            <img  src="{{ article.image | img_url: '300x' }}"
                  class="lazyload lazyload--fade-in"
                  alt="{% if article.image.alt != blank %}{{ article.image.alt }}{% else %}{% comment %}ly_code_replace_for_[ article.title | escape ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}{% endif %}"
                  style="max-width: {{ article.image.width }}px"
                  data-sizes="auto"
                  data-src="{{ article.image | img_url: '2048x' }}"
                  data-srcset="  {{ article.image | img_url: '2048x' }} 2048w,
                            {{ article.image | img_url: '1600x' }} 1600w,
                            {{ article.image | img_url: '1200x' }} 1200w,
                            {{ article.image | img_url: '1000x' }} 1000w,
                            {{ article.image | img_url: '800x' }} 800w,
                            {{ article.image | img_url: '600x' }} 600w,
                            {{ article.image | img_url: '400x' }} 400w"
                  />
          </p>
        {% endif %}

        {% comment %}ly_code_replace_for_[ article.content ]_begin{% endcomment %}{% include 'ly-content' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}

        <span class="clear"></span>

        <br class="clear" />

        {% if section.settings.blog_author or section.settings.display_social_buttons %}
          <hr />
        {% endif %}

        {% if section.settings.blog_author %}
          <hr />
          <div class="{% if settings.display_social_buttons %}six columns {% else %} twelve columns {% endif %} alpha">
          <div class="gravatar two columns alpha center" data-email="{{ article.user.email }}">
            <img src="//1.gravatar.com/avatar/{{ article.user.email | md5 }}?s=160&r=G" alt="{{ article.author }}" />
          </div>
          <div class="comment-body {% if settings.display_social_buttons %}four columns{% else %}six columns{% endif %} omega">
            <h6>{{ article.author }}</h6>
            <p class="meta">
              <span class="label">{% comment %}ly_i18n_replace_for_[ 'blogs.article.author' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.article.author' | t }}{% endcapture %}{% include 'ly-static-string' with '10771634' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
            </p>
            <p>
              {{ article.user.bio }}
            </p>
          </div>
        </div>
        {% endif %}

        {% if section.settings.display_social_buttons %}
          <div class="{% if section.settings.blog_author %} six columns {% else %} twelve columns {% endif %} omega">
            {% include "social-buttons", context: "article" %}
          </div>
        {% endif %}

        <hr />
        <div class="clear" id="comments"></div>
        <br class="clear" />

        {% if settings.disqus_enabled %}
          <div id="disqus_thread"></div>
          <script>
              var disqus_config = function () {
                  this.page.url = "{{ canonical_langify_url }}";
                  this.page.identifier = "{{ article.id }}";
              };
              (function() {
                  var d = document, s = d.createElement('script');
                  s.src = '//{{ settings.disqus_shortname }}.disqus.com/embed.js';
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
              })();
          </script>
          <noscript><ly-as-10771621>Please enable JavaScript to view the</ly-as-10771621> <a href="https://disqus.com/?ref_noscript" rel="nofollow"><ly-as-10771622>comments powered by Disqus.</ly-as-10771622></a></noscript>
        {% elsif blog.comments_enabled? %}
          {% if article.comments_count > 0 %}
            <h4>{% comment %}ly_i18n_replace_for_[ 'blogs.comments.response_count' | t: count: article.comments.size ]_begin{% endcomment %}{% if article.comments.size  == 0 %}{% capture ly_template %}{{ 'blogs.comments.response_count' | t: count: article.comments.size }}{% endcapture %}{% include 'ly-static-string' with '10771635' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments.size  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif article.comments.size  == 1 %}{% capture ly_template %}{{ 'blogs.comments.response_count' | t: count: article.comments.size }}{% endcapture %}{% include 'ly-static-string' with '10771636' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments.size  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif article.comments.size  == 2 %}{% capture ly_template %}{{ 'blogs.comments.response_count' | t: count: article.comments.size }}{% endcapture %}{% include 'ly-static-string' with '10771637' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments.size  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'blogs.comments.response_count' | t: count: article.comments.size }}{% endcapture %}{% include 'ly-static-string' with '10771637' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments.size  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h4>

            {% for comment in article.comments %}
              <div id="comment-{{ comment.id }}" class="comment clearfix">
                <div class="gravatar two columns alpha center" data-email="{{ comment.email }}">
                  <img src="//1.gravatar.com/avatar/{{ comment.email | md5 }}?s=160&r=G" alt="{{ comment.author }}" />
                </div>
                <div class="comment-body eight columns omega">
                  <h6>{{ comment.author }}</h6>
                  <p class="meta">
                    <span class="label">{{ comment.created_at | date: format: "month_day_year" }}</span>
                  </p>

                  {% comment %}ly_code_replace_for_[ comment.content ]_begin{% endcomment %}{% include 'ly-content' with comment %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
                </div>
              </div>
            {% endfor %}
          {% endif %}

          {% if comment and comment.created_at %}
            {% if article.comments_count == 0 %}
              <h4>{% comment %}ly_i18n_replace_for_[ 'blogs.comments.response_count' | t: count: article.comments.size ]_begin{% endcomment %}{% if article.comments.size  == 0 %}{% capture ly_template %}{{ 'blogs.comments.response_count' | t: count: article.comments.size }}{% endcapture %}{% include 'ly-static-string' with '10771635' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments.size  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif article.comments.size  == 1 %}{% capture ly_template %}{{ 'blogs.comments.response_count' | t: count: article.comments.size }}{% endcapture %}{% include 'ly-static-string' with '10771636' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments.size  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif article.comments.size  == 2 %}{% capture ly_template %}{{ 'blogs.comments.response_count' | t: count: article.comments.size }}{% endcapture %}{% include 'ly-static-string' with '10771637' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments.size  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'blogs.comments.response_count' | t: count: article.comments.size }}{% endcapture %}{% include 'ly-static-string' with '10771637' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments.size  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h4>
            {% endif %}
            <div id="comment-{{ comment.id }}" class="comment clearfix">
              <div class="gravatar two columns alpha center" data-email="{{ comment.email }}">
                <img src="//1.gravatar.com/avatar/{{ comment.email | md5 }}?s=160&r=G" alt="{{ comment.author }}" />
              </div>
              <div class="comment-body eight columns omega">
                <h6>{{ comment.author }}</h6>
                <p class="meta">
                  <span class="label">{{ comment.created_at | date: format: "month_day_year" }}</span>
                </p>

                {% comment %}ly_code_replace_for_[ comment.content ]_begin{% endcomment %}{% include 'ly-content' with comment %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
              </div>
            </div>
          {% endif %}

          {% include 'pagination' with sidebar %}

          <div class="clear" id="new-comment"></div>
          <h4>{% comment %}ly_i18n_replace_for_[ 'blogs.comments.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.comments.title' | t }}{% endcapture %}{% include 'ly-static-string' with '10771640' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h4>

          {% if blog.moderated? %}
            <p><em>{% comment %}ly_i18n_replace_for_[ 'blogs.comments.moderated' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.comments.moderated' | t }}{% endcapture %}{% include 'ly-static-string' with '10771641' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</em></p>
          {% endif %}

          {% form article %}
            {% if form.posted_successfully? %}
              {% if blog.moderated? %}
                <p class="quote align_left">{% comment %}ly_i18n_replace_for_[ 'blogs.comments.success_moderated' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.comments.success_moderated' | t }}{% endcapture %}{% include 'ly-static-string' with '10771642' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
              {% else %}
                <p class="quote align_left">{% comment %}ly_i18n_replace_for_[ 'blogs.comments.success' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.comments.success' | t }}{% endcapture %}{% include 'ly-static-string' with '10771643' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
              {% endif %}
            {% endif %}

            {% if form.errors %}
              <p class="quote align_left">{% comment %}ly_i18n_replace_for_[ 'general.forms.post_error' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.forms.post_error' | t }}{% endcapture %}{% include 'ly-static-string' with '10771644' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
            {% endif %}

            <div class="six columns alpha">
              <label for="comment_author">{% comment %}ly_i18n_replace_for_[ 'blogs.comments.name' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.comments.name' | t }}{% endcapture %}{% include 'ly-static-string' with '10771645' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} <span class="red">*</span></label>
              <input type="text" id="comment_author" name="comment[author]" value="{{ form.author }}" required="required" />
            </div>

            <div class="six columns omega">
              <label for="comment_email">{% comment %}ly_i18n_replace_for_[ 'blogs.comments.email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.comments.email' | t }}{% endcapture %}{% include 'ly-static-string' with '10771646' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} <span class="red">*</span></label>
              <input type="text" id="comment_email" name="comment[email]" value="{{ form.email }}" required="required" />
            </div>

            <label for="comment_body">{% comment %}ly_i18n_replace_for_[ 'blogs.comments.comment' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.comments.comment' | t }}{% endcapture %}{% include 'ly-static-string' with '10771647' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} <span class="red">*</span></label>
            <textarea id="comment_body" name="comment[body]" rows="5" required="required">{{ form.body }}</textarea>

            <input type="submit" value="{% comment %}ly_i18n_replace_for_[ 'blogs.comments.post' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.comments.post' | t }}{% endcapture %}{% include 'ly-static-string' with '10771648' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" id="comment-submit" class="action_button add_to_cart" />
          {% endform %}
        {% endif %}
    </div>

    {% if section.settings.blog_additional_posts and blog.articles_count > 1 %}
      <div class="section clearfix">
        <hr />
        <h3>{% comment %}ly_i18n_replace_for_[ 'blogs.article.additional_articles' | t: title: blog.title ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.article.additional_articles' | t: title: blog.title }}{% endcapture %}{% include 'ly-static-string' with '10771650' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% include 'ly-title' with blog %}{% assign replacement = ly_translation %}{% assign ly_template = ly_template | replace: '[[title]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h3>

        {% assign article_found = false %}
        {% for a in blog.articles limit: 4 %}
          {% assign skip_article = false %}
          {% if article_found == false and forloop.last %}
            {% assign skip_article = true %}
          {% endif %}
          {% if article.id == a.id %}
            {% assign article_found = true %}
            {% assign skip_article = true %}
          {% endif %}
          {% unless skip_article %}
            <div class="four columns {% cycle 'alpha', ' ', 'omega' %} article">
              {% if a.image %}
                <div class="article__imageContainer">
                  <a href="{{ a.url }}" title="{% comment %}ly_code_replace_for_[ a.title | escape ]_begin{% endcomment %}{% include 'ly-title' with a %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">
                    <img  src="{{ a.image | img_url: '300x' }}"
                          class="lazyload lazyload--fade-in"
                          alt="{% if a.image.alt != blank %}{{ a.image.alt }}{% else %}{% comment %}ly_code_replace_for_[ a.title | escape ]_begin{% endcomment %}{% include 'ly-title' with a %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}{% endif %}"
                          style="max-width: {{ a.image.width }}px"
                          data-sizes="auto"
                          data-src="{{ a.image | img_url: '560x' }}"
                          data-srcset="  {{ a.image | img_url: '2048x' }} 2048w,
                                    {{ a.image | img_url: '1600x' }} 1600w,
                                    {{ a.image | img_url: '1200x' }} 1200w,
                                    {{ a.image | img_url: '1000x' }} 1000w,
                                    {{ a.image | img_url: '800x' }} 800w,
                                    {{ a.image | img_url: '600x' }} 600w,
                                    {{ a.image | img_url: '400x' }} 400w"
                          />
                  </a>
                </div>
              {% endif %}

              {% if section.settings.blog_tags %}
                <div class="blog_meta tags">
                  {% for tag in a.tags %}
                    <span><a href="{{ langify_shop_url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{% comment %}ly_code_replace_for_[ blog.title | escape ]_begin{% endcomment %}{% include 'ly-title' with blog %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %} {% comment %}ly_i18n_replace_for_[ 'blogs.general.tagged' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.general.tagged' | t }}{% endcapture %}{% include 'ly-static-string' with '10771623' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} {{ tag | escape }}">{{ tag }}</a></span>
                  {% endfor %}
                </div>
              {% endif %}

              <h5 class="sub_title">
                <a href="{{ a.url }}" title="{% comment %}ly_code_replace_for_[ a.title | escape ]_begin{% endcomment %}{% include 'ly-title' with a %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">{% comment %}ly_code_replace_for_[ a.title ]_begin{% endcomment %}{% include 'ly-title' with a %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
              </h5>
              <p class="blog_meta">
                {% if section.settings.blog_author %}
                  <span>{% comment %}ly_i18n_replace_for_[ 'blogs.article.by_author' | t: author: a.author ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.article.by_author' | t: author: a.author }}{% endcapture %}{% include 'ly-static-string' with '10771652' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = a.author  %}{% assign ly_template = ly_template | replace: '[[author]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
                {% endif %}

                {% if section.settings.blog_date %}
                  <span>{{ a.published_at | date: format: "month_day_year" }}</span>
                {% endif %}

                {% if settings.disqus_enabled %}
                  <span>
                    <a href="{{ a.url }}#disqus_thread" data-disqus-identifier="{{ a.id }}" class="disqus-comment-count">{% comment %}ly_i18n_replace_for_[ 'blogs.counts.comments_with_count' | t: count: 0 ]_begin{% endcomment %}{% if 0  == 0 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: 0 }}{% endcapture %}{% include 'ly-static-string' with '10771627' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 0  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif 0  == 1 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: 0 }}{% endcapture %}{% include 'ly-static-string' with '10771626' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 0  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif 0  == 2 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: 0 }}{% endcapture %}{% include 'ly-static-string' with '10771627' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 0  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: 0 }}{% endcapture %}{% include 'ly-static-string' with '10771627' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 0  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
                  </span>
                {% elsif a.comments_enabled? and a.comments_count > 0 %}
                  <span>
                    <a href="{{ a.url }}#comments">{% comment %}ly_i18n_replace_for_[ 'blogs.counts.comments_with_count' | t: count: a.comments_count ]_begin{% endcomment %}{% if a.comments_count  == 0 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: a.comments_count }}{% endcapture %}{% include 'ly-static-string' with '10771654' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = a.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif a.comments_count  == 1 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: a.comments_count }}{% endcapture %}{% include 'ly-static-string' with '10771653' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = a.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif a.comments_count  == 2 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: a.comments_count }}{% endcapture %}{% include 'ly-static-string' with '10771654' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = a.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: a.comments_count }}{% endcapture %}{% include 'ly-static-string' with '10771654' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = a.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
                  </span>
                {% endif %}
              </p>

              {% if a.excerpt != blank %}
                {% assign postexcerpt = a.excerpt | size %}
                  {% if postexcerpt > 100 %}
                    {% assign excerptlength = 'lg' %}
                  {% elsif postexcerpt <= 50 %}
                    {% assign excerptlength = 'sm' %}
                  {% endif %}
                  <div class="excerpt excerpt-length--{{ excerptlength }} {{ postexcerpt }}">
                    {% comment %}ly_code_replace_for_[ a.excerpt ]_begin{% endcomment %}{% include 'ly-excerpt' with a %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %} 
                    <span class="truncation-fade"></span>
                  </div>
              {% endif %}
              {% if section.settings.read_more_link %}
                <p class="read-more">
                  <a class="animate-arrow" href="{{ a.url }}" title="{% comment %}ly_code_replace_for_[ a.title | escape ]_begin{% endcomment %}{% include 'ly-title' with a %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">{% comment %}ly_i18n_replace_for_[ 'blogs.general.continue_reading_html' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.general.continue_reading_html' | t }}{% endcapture %}{% include 'ly-static-string' with '10771657' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} <span class="icon-right-arrow"></span></a>
                </p>
              {% endif %}
            </div>
          {% endunless %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

  {% include "blog-sidebar", blog_handle: blog.handle %}

  <script type="text/javascript">
    // <![CDATA[
      $(function() {
        if(window.location.pathname.indexOf('/comments') != -1) {
          $('html,body').animate({scrollTop: $("#new-comment").offset().top-140},'slow');
        }
      });
    // ]]>
  </script>
</div>
{% endpaginate %}

{% schema %}

{
  "name": "Blog post",
  "class": "blog-post-section image-with-text-overlay-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "slideshow_post_enabled",
      "label": "Show blog post banner image",
      "info": "The blog post's featured image will be used as a full-width banner",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "slideshow_post_darken",
      "label": "Darken blog post banner image",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_breadcrumb",
      "label": "Show breadcrumb links"
    },
    {
      "type": "checkbox",
      "id": "blog_tags",
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "blog_author",
      "label": "Show author"
    },
    {
      "type": "checkbox",
      "id": "blog_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_comment_count",
      "label": "Show comment count",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Additional posts"
    },
    {
      "type": "checkbox",
      "id": "blog_additional_posts",
      "label": "Show additional posts",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "read_more_link",
      "label": "Show continue reading link",
      "default": true
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "post_tags",
      "name": "Blog post tags",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter sign up form",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "newsletter_richtext",
          "label": "Text"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "recent_posts",
      "name": "Recent blog posts",
      "limit": 1
    },
    {
      "type": "search",
      "name": "Search form",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for details about blog authors or general information.</p>"
        }
      ]
    }
  ]
}

{% endschema %}
