{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% paginate blog.articles by section.settings.blog_posts_per_page %}

  <div class="sixteen columns">
    <div class="section clearfix">
      <h1>
        {% if current_tags %}
          <a href="/blogs/{{ blog.handle }}/tagged/{{ current_tags | handleize }}" title="{% comment %}ly_code_replace_for_[ blog.title | escape ]_begin{% endcomment %}{% include 'ly-title' with blog %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">{{ current_tags }}</a>
        {% else %}
          <a href="{{ blog.url }}" title="{% comment %}ly_code_replace_for_[ blog.title | escape ]_begin{% endcomment %}{% include 'ly-title' with blog %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">{% comment %}ly_code_replace_for_[ blog.title ]_begin{% endcomment %}{% include 'ly-title' with blog %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
        {% endif %}
      </h1>

      {% if section.settings.blog_breadcrumb %}
        <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
              {
                "@type": "ListItem",
                "position": 1,
                "item": {
                  "@id": "{{ langify_shop_url }}",
                  "name": "{{ 'general.breadcrumbs.home' | t }}"
                }
              },
              {
                "@type": "ListItem",
                "position": 2,
                "item": {
                  "@id": "{{ blog.url }}",
                  "name": "{{ blog.title }}"
                }
              }
            ]
          }
        </script>

        <div class="breadcrumb sixteen columns alpha omega" itemscope itemtype="http://schema.org/BreadcrumbList">
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ langify_shop_url }}" title="{{ langify_shop_name | escape }}" itemprop="item"><span itemprop="name">{% comment %}ly_i18n_replace_for_[ 'general.breadcrumbs.home' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.breadcrumbs.home' | t }}{% endcapture %}{% include 'ly-static-string' with '10771659' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span></a></span>
             <span class="icon-right-arrow"></span>
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ blog.url }}" title="{% comment %}ly_code_replace_for_[ blog.title | escape ]_begin{% endcomment %}{% include 'ly-title' with blog %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}" itemprop="item"><span itemprop="name">{% comment %}ly_code_replace_for_[ blog.title ]_begin{% endcomment %}{% include 'ly-title' with blog %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span></a></span>
            {% if current_tags %}
              {% for tag in current_tags %}
                 <span class="icon-right-arrow"></span>
                <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ tag | escape }}" itemprop="item"><span itemprop="name">{{ tag }}</span></a></span>
              {% endfor %}
            {% endif %}

            {% if paginate.pages != 0 %}
               <span class="icon-right-arrow"></span> {% comment %}ly_i18n_replace_for_[ 'general.breadcrumbs.page' | t: current_page: paginate.current_page, pages: paginate.pages ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.breadcrumbs.page' | t: current_page: paginate.current_page, pages: paginate.pages }}{% endcapture %}{% include 'ly-static-string' with '10771662' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = paginate.current_page %}{% assign ly_template = ly_template | replace: '[[current_page]]', replacement %}{% assign replacement = paginate.pages  %}{% assign ly_template = ly_template | replace: '[[pages]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
            {% endif %}
        </div>
      {% endif %}

    </div>
  </div>

  {% comment %}Check to see if sidebar should be enabled{% endcomment %}
  {% if section.blocks.size > 0 %}
    {% assign sidebar = true %}
  {% else %}
    {% assign sidebar = false %}
  {% endif %}

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ItemList",
      "itemListElement": [
        {% for article in blog.articles %}
          {
            "@type": "ListItem",
            "position": "{{ forloop.index | json }}",
            "url": "{{ langify_shop_url }}{{ article.url }}",
            "name": "{% comment %}ly_code_replace_for_[ article.title | escape ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}"
          } {%- unless forloop.last -%},{%- endunless -%}
        {% endfor %}
      ]
    }
  </script>

  <div class="{% if sidebar %}twelve{% else %}sixteen{% endif %} columns">
    {% for article in blog.articles %}
      {% if section.settings.blog_posts_per_row == 1 %}
        {% if article.image %}
          <div class="{% if sidebar %}seven{% else %}nine{% endif %} columns alpha article_image">
            <a href="{{ article.url }}" title="{% comment %}ly_code_replace_for_[ article.title | escape ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">
              <img  src="{{ article.image | img_url: '300x' }}"
                    alt="{% if article.image.alt != blank %}{{ article.image.alt }}{% else %}{% comment %}ly_code_replace_for_[ article.title | escape ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}{% endif %}"
                    data-src="{{ article.image | img_url: '2048x' }}"
                    class="lazyload lazyload--fade-in"
                    style="max-width: {{- article.image.width -}}px"
                    data-sizes="auto"
                    data-srcset=" {{ article.image | img_url: '2048x' }} 2048w,
                                  {{ article.image | img_url: '1600x' }} 1600w,
                                  {{ article.image | img_url: '1200x' }} 1200w,
                                  {{ article.image | img_url: '1000x' }} 1000w,
                                  {{ article.image | img_url: '800x' }} 800w,
                                  {{ article.image | img_url: '600x' }} 600w,
                                  {{ article.image | img_url: '400x' }} 400w"
            />
            </a>
          </div>
          <div class="{% if sidebar %}five{% else %}seven{% endif %} columns omega article">
        {% else %}
          <div class="{% if sidebar %}eight{% else %}sixteen{% endif %} columns alpha omega article">
        {% endif %}
      {% else %}
        {% if sidebar %}
          <div class="{% if section.settings.blog_posts_per_row == 2 %}six columns {% cycle 'alpha', 'omega' %}{% elsif section.settings.blog_posts_per_row == 3 %}four columns {% cycle 'alpha', '', 'omega' %}{% else %}three columns {% cycle 'alpha', '', '', 'omega' %}{% endif %} article">
        {% else %}
          <div class="{% if section.settings.blog_posts_per_row == 2 %}eight columns {% cycle 'alpha', 'omega' %}{% elsif section.settings.blog_posts_per_row == 3 %}one-third column {% cycle 'alpha', '', 'omega' %}{% else %}four columns {% cycle 'alpha', '', '', 'omega' %}{% endif %} article">
        {% endif %}

        {% if article.image %}
          <div class="article__imageContainer">
            <a href="{{ article.url }}" title="{% comment %}ly_code_replace_for_[ article.title | escape ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">
              <img  src="{{ article.image | img_url: '300x' }}"
                    alt="{% if article.image.alt != blank %}{{ article.image.alt }}{% else %}{% comment %}ly_code_replace_for_[ article.title | escape ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}{% endif %}"
                    data-src="{{ article.image | img_url: '2048x' }}"
                    class="lazyload lazyload--fade-in"
                    style="max-width: {{- article.image.width -}}px"
                    data-sizes="auto"
                    data-srcset=" {{ article.image | img_url: '2048x' }} 2048w,
                                  {{ article.image | img_url: '1600x' }} 1600w,
                                  {{ article.image | img_url: '1200x' }} 1200w,
                                  {{ article.image | img_url: '1000x' }} 1000w,
                                  {{ article.image | img_url: '800x' }} 800w,
                                  {{ article.image | img_url: '600x' }} 600w,
                                  {{ article.image | img_url: '400x' }} 400w"
                    />
            </a>
          </div>
        {% endif %}
      {% endif %}

        {% if section.settings.blog_tags %}
          <div class="blog_meta tags">
            {% for tag in article.tags %}
              <span><a href="{{ langify_shop_url }}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{% comment %}ly_code_replace_for_[ blog.title ]_begin{% endcomment %}{% include 'ly-title' with blog %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %} {% comment %}ly_i18n_replace_for_[ 'blogs.general.tagged' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.general.tagged' | t }}{% endcapture %}{% include 'ly-static-string' with '10771663' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} {{ tag | escape }}">{{ tag }}</a></span>
            {% endfor %}
          </div>
        {% endif %}

        <h2 class="article_title"><a href="{{ article.url }}">{% comment %}ly_code_replace_for_[ article.title ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a></h2>

        <p class="blog_meta">
          {% if section.settings.blog_author %}
            <span>{% comment %}ly_i18n_replace_for_[ 'blogs.article.by_author' | t: author: article.author ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.article.by_author' | t: author: article.author }}{% endcapture %}{% include 'ly-static-string' with '10771665' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.author  %}{% assign ly_template = ly_template | replace: '[[author]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
          {% endif %}

          {% if section.settings.blog_date %}
            <span>{{ article.published_at | date: format: "month_day_year" }}</span>
          {% endif %}

          {% if section.settings.blog_comment_count %}
            {% if settings.disqus_enabled %}
              <span>
                <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="disqus-comment-count">{% comment %}ly_i18n_replace_for_[ 'blogs.counts.comments_with_count' | t: count: 0 ]_begin{% endcomment %}{% if 0  == 0 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: 0 }}{% endcapture %}{% include 'ly-static-string' with '10771667' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 0  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif 0  == 1 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: 0 }}{% endcapture %}{% include 'ly-static-string' with '10771666' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 0  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif 0  == 2 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: 0 }}{% endcapture %}{% include 'ly-static-string' with '10771667' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 0  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: 0 }}{% endcapture %}{% include 'ly-static-string' with '10771667' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 0  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
              </span>
            {% elsif article.comments_enabled? and article.comments_count > 0 %}
              <span>
                <a href="{{ article.url }}#comments">{% comment %}ly_i18n_replace_for_[ 'blogs.counts.comments_with_count' | t: count: article.comments_count ]_begin{% endcomment %}{% if article.comments_count  == 0 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '10771671' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif article.comments_count  == 1 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '10771670' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif article.comments_count  == 2 %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '10771671' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '10771671' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
              </span>
            {% endif %}
          {% endif %}
        </p>

        {% if article.excerpt != blank %}
          {% assign postexcerpt = article.excerpt | size %}
            {% if postexcerpt > 100 %}
              {% assign excerptlength = 'lg' %}
            {% elsif postexcerpt <= 50 %}
              {% assign excerptlength = 'sm' %}
          {% endif %}
          <div class="excerpt excerpt-length--{{ excerptlength }} {{ postexcerpt }}">
            {% comment %}ly_code_replace_for_[ article.excerpt ]_begin{% endcomment %}{% include 'ly-excerpt' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %} 
            <span class="truncation-fade"></span>
          </div>
        {% endif %}
        {% if section.settings.read_more_link %}
          <p class="read-more">
            <a class="animate-arrow" href="{{ article.url }}" title="{% comment %}ly_code_replace_for_[ article.title | escape ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">{% comment %}ly_i18n_replace_for_[ 'blogs.general.continue_reading_html' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.general.continue_reading_html' | t }}{% endcapture %}{% include 'ly-static-string' with '10771674' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} <span class="icon-right-arrow"></span></a>
          </p>
        {% endif %}
      </div>

      {% if section.settings.blog_posts_per_row == 2 %}
        {% cycle "article_row": '', '<br class="clear" />' %}
      {% elsif section.settings.blog_posts_per_row == 3 %}
        {% cycle "article_row": '', '', '<br class="clear" />' %}
      {% elsif section.settings.blog_posts_per_row == 4 %}
        {% cycle "article_row": '', '', '', '<br class="clear" />' %}
      {% else %}
        <br class="clear" />
      {% endif %}
    {% endfor %}
  </div>

  {% include "blog-sidebar", blog_handle: blog.handle %}

  <br class="clear" />
  <div class="sixteen columns">
    {% include 'pagination' %}
  </div>
{% endpaginate %}

{% schema %}

{
  "name": "Blog",
  "class": "blog-template-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "blog_breadcrumb",
      "label": "Show breadcrumb links"
    },
    {
      "type": "checkbox",
      "id": "blog_tags",
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "blog_author",
      "label": "Show author"
    },
    {
      "type": "checkbox",
      "id": "blog_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_comment_count",
      "label": "Show comment count",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "read_more_link",
      "label": "Show continue reading link",
      "default": true
    },
    {
      "type": "range",
      "id": "blog_posts_per_row",
      "label": "Blog posts per row",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "blog_posts_per_page",
      "label": "Blog posts per page",
      "min": 1,
      "max": 50,
      "step": 1,
      "default": 12
    },
    {
      "type": "header",
      "content": "Sidebar"
     },
     {
       "type": "paragraph",
       "content": "Create sidebar by adding content blocks."
     },
     {
       "type": "checkbox",
       "id": "toggle",
       "label": "Toggle sidebar content",
       "default": false
     }
   ],
   "blocks": [
     {
       "type": "post_tags",
       "name": "Blog post tags",
       "limit": 1
     },
     {
       "type": "menu",
       "name": "Menu",
       "settings": [
         {
           "type": "link_list",
           "id": "custom_menu_linklist",
           "label": "Menu"
         }
       ]
     },
     {
       "type": "newsletter",
       "name": "Newsletter sign up form",
       "limit": 1,
       "settings": [
        {
          "type": "richtext",
          "id": "newsletter_richtext",
          "label": "Text"
        }
      ]
     },
     {
       "type": "page",
       "name": "Page",
       "settings": [
         {
           "type": "page",
           "id": "content_page",
           "label": "Page"
         }
       ]
     },
     {
       "type": "recent_posts",
       "name": "Recent blog posts",
       "limit": 1
     },
     {
       "type": "search",
       "name": "Search form",
       "limit": 1
     },
     {
       "type": "text",
       "name": "Text",
       "settings": [
         {
           "type": "text",
           "id": "title",
           "label": "Heading",
           "default": "Heading"
         },
         {
           "type": "richtext",
           "id": "text",
           "label": "Text",
           "default": "<p>Text area can be used for details about blog authors or general information.</p>"
         }
       ]
     }
   ]
 }

{% endschema %}
