{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="sixteen columns">
  <div class="section clearfix">
    <h1>{% comment %}ly_i18n_replace_for_[ 'cart.general.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.title' | t }}{% endcapture %}{% include 'ly-static-string' with '10771676' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>
  </div>
</div>

{% if cart.item_count == 0 %}
  <div class="sixteen columns">
    <div class="section clearfix">
      <p class="quote">{% comment %}ly_i18n_replace_for_[ 'cart.general.continue_browsing_html' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.continue_browsing_html' | t }}{% endcapture %}{% include 'ly-static-string' with '10771677' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
      <br class="clear" />
      <br class="clear" />
    </div>
  </div>
{% else %}

  <div class="sixteen columns">
    <form action="/cart{% comment %}ly_checkout_begin{% endcomment %}{% if request.host %}{% assign host = request.host %}{% assign domains = shop.metafields.language_domains %}{% for domain in domains %}{% assign key = domain | first %}{% assign value = domain | last | split: ',' %}{% if value contains host %}{% assign language = key %}{% endif %}{% endfor %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% else %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% endif %}{% assign checkout_code = shop.metafields.language_codes[language] %}{% if checkout_code %}{% assign checkout_code = '?locale=' | append: checkout_code %}{{ checkout_code }}{% endif %}{% comment %}ly_checkout_end{% endcomment %}" method="post" id="cart_form">
      <div class="checkout_table_header">
        <div class="eight columns alpha">
          <h4>{% comment %}ly_i18n_replace_for_[ 'cart.general.item' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.item' | t }}{% endcapture %}{% include 'ly-static-string' with '10771678' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h4>
        </div>

        <div class="two columns">
          <h4>{% comment %}ly_i18n_replace_for_[ 'cart.general.price' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.price' | t }}{% endcapture %}{% include 'ly-static-string' with '10771679' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h4>
        </div>

        <div class="two columns">
          <h4>{% comment %}ly_i18n_replace_for_[ 'cart.general.quantity' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.quantity' | t }}{% endcapture %}{% include 'ly-static-string' with '10771680' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h4>
        </div>

        <div class="four columns omega">
          <h4>{% comment %}ly_i18n_replace_for_[ 'cart.general.total' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.total' | t }}{% endcapture %}{% include 'ly-static-string' with '10771681' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h4>
        </div>

        <div class="clear"></div>
      </div>

      <ul class="none">
        {% for item in cart.items %}
          <li>
            <div class="eight columns title_column alpha">
          <a href="{{ item.url }}" title="{% comment %}ly_code_replace_for_[ item.title | escape ]_begin{% endcomment %}{% include 'ly-title' with item %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}" class="cart_image">
                <img  src="{{ item | img_url: '300x' }}"
                  alt="{% comment %}ly_code_replace_for_[ item.title | escape ]_begin{% endcomment %}{% include 'ly-title' with item %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}"
                      class="lazyload lazyload--fade-in"
                      sizes="180px"
                      srcset="{{ item | img_url: '2048x' }} 2048w,
                              {{ item | img_url: '1600x' }} 1600w,
                              {{ item | img_url: '1200x' }} 1200w,
                              {{ item | img_url: '1000x' }} 1000w,
                              {{ item | img_url: '800x' }} 800w,
                              {{ item | img_url: '600x' }} 600w,
                              {{ item | img_url: '400x' }} 400w,
                              {{ item | img_url: '300x' }} 300w,
                              {{ item | img_url: '200x' }} 200w,
                              {{ item | img_url: '100x' }} 100w"
                       />
              </a>

              <p class="cart_price">
            <span class="money hide-small">{{ item.price | money }}</span>
                <span class="price_total_text">
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" title="{% comment %}ly_i18n_replace_for_[ 'cart.general.remove' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.remove' | t }}{% endcapture %}{% include 'ly-static-string' with '10771682' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" class="remove"><span class="ss-icon icon-close"></span></a>
                </span>
              </p>

              <p class="cart_product_title">
                <a href="{{ item.url }}">
              {% comment %}ly_code_replace_for_[ item.product.title ]_begin{% endcomment %}{% include 'ly-title' with item.product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
                </a>
              </p>

              {% unless item.product.has_only_default_variant or item.variant.title contains "Title" %}
                <p class="meta">
                  {% for option in item.product.options %}
                    <span class="label">{{ option }}:</span> <span>{{ item.variant.options[forloop.index0] }}</span><br />
                  {% endfor %}
                </p>
              {% endunless %}

              {% if item.properties %}
                <p>
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                    {% if p.last contains '/uploads/' %}
                  {{ p.first }}: <a class="lightbox" href="{{ p.last }}">{% comment %}ly_i18n_replace_for_[ 'cart.general.uploaded_file' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.uploaded_file' | t }}{% endcapture %}{% include 'ly-static-string' with '10771683' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a><br />
                    {% else %}
                      {{ p.first }}: {{ p.last }}<br />
                    {% endif %}
                  {% endunless %}
                {% endfor %}
                </p>
              {% endif %}
            </div>

            <div class="two columns cart__itemPrice">
              <p class="price_total">
                {% if item.line_level_discount_allocations.size > 0 %}
                  <span class="money">
                    {{ item.final_price | money }}
                  </span>
                {% endif %}
                <span class="money {% if item.line_level_discount_allocations.size > 0 %}was_price{% endif %}">
                  {{ item.original_price | money }}
                </span>
              </p>

              {% if item.line_level_discount_allocations.size > 0 %}
                {% for discount_allocation in item.line_level_discount_allocations %}
                  <span>
                    <strong>{{ 'cart.general.discount' | t }}:</strong> {{ discount_allocation.discount_application.title }} (- <span class="money">{{ discount_allocation.amount | money }}</span>)
                  </span>
                {% endfor %}
              {% endif %}
            </div>

            <div class="two columns cart__itemQuantity" id="quantity_{{ forloop.index }}">
          <span class="quantity_label">{% comment %}ly_i18n_replace_for_[ 'cart.general.quantity' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.quantity' | t }}{% endcapture %}{% include 'ly-static-string' with '10771680' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}:</span>
              <input type="number" min="0" size="2" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" {% if settings.limit_quantity and item.variant.inventory_management != blank and item.variant.inventory_quantity > 0 and item.variant.inventory_policy == "deny" %}max="{{ item.variant.inventory_quantity }}"{% endif %} />
            </div>

            <div class="four columns mobile_right omega">
          <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" title="{% comment %}ly_i18n_replace_for_[ 'cart.general.remove' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.remove' | t }}{% endcapture %}{% include 'ly-static-string' with '10771682' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" class="right mobile_hidden remove"><span class="ss-icon icon-close"></span></a>

              <span class="price_total">
                {% if item.line_level_discount_allocations.size > 0 %}
                  <span class="money">
                    {{ item.final_line_price | money }}
                  </span>
                {% endif %}
                <span class="money {% if item.line_level_discount_allocations.size > 0 %}was_price{% endif %}">
                  {{ item.original_line_price | money }}
                </span>
              </span>
            </div>
            <div class="sixteen columns clearfix alpha omega">
              <hr />
            </div>
          </li>
        {% endfor %}
      </ul>

      {% if cart.cart_level_discount_applications != blank %}
        <div class="twelve columns alpha">
          <h4 class="discount">
            {{ 'cart.general.discount' | t }}:
          </h4>
        </div>

        <div class="four columns omega">
          {% for discount_application in cart.cart_level_discount_applications %}
            <h4 class="discount-price">
              (- <span class="money">{{ discount_application.total_allocated_amount | money }}</span>) {{ discount_application.title }}
            </h4>
          {% endfor %}
        </div>
      {% endif %}

      <div class="twelve columns alpha">
        <h4 class="subtotal">
          {% comment %}ly_i18n_replace_for_[ 'cart.general.subtotal' | t ]_begin{% endcomment %}{% capture ly_template %}<span id="revy-cart-subtotal-label">{{ 'cart.general.subtotal' | t }}</span>{% endcapture %}{% include 'ly-static-string' with '10771684' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
        </h4>
      </div>

      <div class="four columns omega">
        <h4>
            <span class="money"><span id="bk-cart-subtotal-price"><span id="revy-cart-subtotal-price">{{ cart.total_price | money_with_currency }}</span></span></span>
        </h4>
      </div>

        <p class="hide-large">
            <small class="excluding_tax"><em>{% comment %}ly_i18n_replace_for_[ 'cart.general.excluding_tax_shipping' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.excluding_tax_shipping' | t }}{% endcapture %}{% include 'ly-static-string' with '10771686' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</em></small>
        </p>
      {% if section.settings.display_special_instructions %}
        <div class="ten columns alpha">
          <label for="note">
            {{ 'cart.general.note' | t: shop_name: langify_shop_name }}:
          </label>
          <textarea id="note" name="note" rows="2">
            {{ cart.note }}
          </textarea>
        </div>
      {% endif %}

      <div class="six columns {% if section.settings.display_special_instructions %} omega{% else %}offset-by-twelve alpha{% endif %}">
        {% comment %}
          <small id="estimated-shipping" style="display:none">+ <em><span class="money">{{ 0 | money }}</span></em> {% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.estimated_shipping' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.estimated_shipping' | t }}{% endcapture %}{% include 'ly-static-string' with '10771685' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</small>
        {% endcomment %}

        <p class="exclude-shipping">
            <small class="hide-small excluding_tax"><em>{% comment %}ly_i18n_replace_for_[ 'cart.general.excluding_tax_shipping' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.excluding_tax_shipping' | t }}{% endcapture %}{% include 'ly-static-string' with '10771686' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</em></small>

          {% if settings.show_multiple_currencies %}
            <small>
                <em>{% comment %}ly_i18n_replace_for_[ 'cart.general.orders_processed_in_currency_html' | t: currency: shop.currency ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.orders_processed_in_currency_html' | t: currency: shop.currency }}{% endcapture %}{% include 'ly-static-string' with '10771688' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = shop.currency  %}{% assign ly_template = ly_template | replace: '[[currency]]', replacement %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</em>
            </small>
          {% endif %}

            {% if section.settings.display_tos_checkbox %}
            <div>
              <input type="checkbox" class="tos_agree" id="cart_agree" required />
              <label class="tos_label" for="cart_agree">
                  {% comment %}ly_i18n_replace_for_[ 'cart.general.agree_to_terms_html' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.agree_to_terms_html' | t }}{% endcapture %}{% include 'ly-static-string' with '10771689' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
              </label>
            </div>
          {% endif %}
        </p>

        <p class="add-to-cart-wrap">
          <input type="submit" class="action_button" id="checkout" name="checkout" value="{{ 'cart.general.checkout' | t }}" />
        </p>

        {% if content_for_additional_checkout_buttons %}
          <div class="additional-checkout-buttons additional-checkout-buttons--vertical">
            {{ content_for_additional_checkout_buttons }}
          </div>
        {% endif %}

        <a href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}/collections/all{% endif %}" class="continue-shopping-link">{{ 'cart.general.continue_shopping_link_html' | t }}</a>

      </div>
    </form>
  </div>
{% endif %}

{% schema %}

{
  "name": "Cart page",
  "settings": [
    {
      "type": "checkbox",
      "id": "display_special_instructions",
      "label": "Show \"note\" text box"
    },
    {
      "type": "checkbox",
      "id": "display_tos_checkbox",
      "label": "Show \"agree to terms\" checkbox"
    }
  ]
}

{% endschema %}
