{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% assign collections_per_row = section.settings.frontpage_collections_per_row %}

<div class="container">
  {% if section.blocks.size > 0 %}
    {% if section.settings.title != blank %}
      <div class="sixteen columns">
        <h2 class="section-header home text-align--center text-align--center">
          {{ section.settings.title | escape }}
        </h2>
      </div>
    {% endif %}
    <div class="sixteen columns">
      <div class="section clearfix">
        <div class="featured_collections">
          {% for block in section.blocks %}

            {% assign feature_collection = block.settings.feature_collection %}
            {% assign collection = collections[feature_collection] %}

            {% if block.settings.image %}
              {% assign collection_image = block.settings.image %}
              {% assign collection_image_alt = block.settings.image.alt | escape %}
            {% elsif collection.image != blank %}
              {% assign collection_image = collection.image %}
              {% assign collection_image_alt = collection.title | escape %}
            {% else collection.empty? == false %}
              {% assign collection_image = collection.products.first.featured_image %}
              {% assign collection_image_alt = collection.products.first.featured_image.alt | escape %}
            {% endif %}

            <div class="{% if collections_per_row == 2 %}eight columns {% cycle 'alpha', 'omega' %}{% elsif collections_per_row == 3 %}one-third column {% cycle 'alpha', '', 'omega' %}{% elsif collections_per_row == 4 %}four columns {% cycle 'alpha', '', '', 'omega' %}{% else %}one-fifth column {% cycle 'alpha', '', '', '', 'omega' %}{% endif %} thumbnail {% if section.settings.collection_count == blank and section.settings.frontpage_collections_title == blank %}blank{% endif %} {% cycle 'even', 'odd' %} price_align--{{ settings.collection_price_position }}" {{ block.shopify_attributes }}>
              <a href="{{ collection.url }}" title="{% comment %}ly_code_replace_for_[ collection.title ]_begin{% endcomment %}{% include 'ly-title' with collection %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}">
                <div class="relative product_image">
                  {% if collection_image != nil %}
                    <img  src="{{ collection_image | img_url: '300x' }}"
                          class="lazyload lazyload--fade-in"
                          alt="{{ collection_image_alt }}"
                          data-src="{{ collection_image | img_url: '1200x' }}"
                          data-srcset=" {{ collection_image | img_url: '2048x' }} 2048w,
                                        {{ collection_image | img_url: '1600x' }} 1600w,
                                        {{ collection_image | img_url: '1200x' }} 1200w,
                                        {{ collection_image | img_url: '1000x' }} 1000w,
                                        {{ collection_image | img_url: '800x' }} 800w,
                                        {{ collection_image | img_url: '600x' }} 600w,
                                        {{ collection_image | img_url: '400x' }} 400w"
                          />
                  {% else %}
                    {% if forloop.index < 7 %}
                      {% capture placeholder_collection %}collection-{{forloop.index}}{% endcapture %}
                    {% else %}
                      {% assign placeholder_collection = 'collection-1' %}
                    {% endif %}
                    {{ placeholder_collection | placeholder_svg_tag: 'placeholder-svg' }}
                  {% endif %}
                </div>

                <div class="info">
                  <div class="info__text">
                    {% if section.settings.frontpage_collections_title %}
                        <span class="title">
                        {% if collection != blank %}
                      {% comment %}ly_code_replace_for_[ collection.title ]_begin{% endcomment %}{% include 'ly-title' with collection %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
                        {% else %}
                      {% comment %}ly_i18n_replace_for_[ "homepage.onboarding.collection_title" | t ]_begin{% endcomment %}{% capture ly_template %}{{ "homepage.onboarding.collection_title" | t }}{% endcapture %}{% include 'ly-static-string' with '10771721' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
                        {% endif %}
                        </span>
                    {% endif %}
                  </div>
                  {% if section.settings.collection_count %}
                    <span class="price">
                    {% if collection != blank %}
                    {% comment %}ly_i18n_replace_for_[ 'layout.counts.items_with_count' | t: count: collection.all_products_count ]_begin{% endcomment %}{% if collection.all_products_count  == 0 %}{% capture ly_template %}{{ 'layout.counts.items_with_count' | t: count: collection.all_products_count }}{% endcapture %}{% include 'ly-static-string' with '10771714' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = collection.all_products_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif collection.all_products_count  == 1 %}{% capture ly_template %}{{ 'layout.counts.items_with_count' | t: count: collection.all_products_count }}{% endcapture %}{% include 'ly-static-string' with '10771713' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = collection.all_products_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif collection.all_products_count  == 2 %}{% capture ly_template %}{{ 'layout.counts.items_with_count' | t: count: collection.all_products_count }}{% endcapture %}{% include 'ly-static-string' with '10771714' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = collection.all_products_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'layout.counts.items_with_count' | t: count: collection.all_products_count }}{% endcapture %}{% include 'ly-static-string' with '10771714' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = collection.all_products_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
                    {% else %}
                    {% comment %}ly_i18n_replace_for_[ 'layout.counts.items_with_count' | t: count: 3 ]_begin{% endcomment %}{% if 3  == 0 %}{% capture ly_template %}{{ 'layout.counts.items_with_count' | t: count: 3 }}{% endcapture %}{% include 'ly-static-string' with '10771718' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 3  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif 3  == 1 %}{% capture ly_template %}{{ 'layout.counts.items_with_count' | t: count: 3 }}{% endcapture %}{% include 'ly-static-string' with '10771717' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 3  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif 3  == 2 %}{% capture ly_template %}{{ 'layout.counts.items_with_count' | t: count: 3 }}{% endcapture %}{% include 'ly-static-string' with '10771718' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 3  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'layout.counts.items_with_count' | t: count: 3 }}{% endcapture %}{% include 'ly-static-string' with '10771718' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = 3  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
                    {% endif %}
                    </span>
                  {% endif %}
                </div>

                
              </a>
            </div>

            {% if collections_per_row == 2 %}
              {% cycle '', '<br class="clear product_clear" />' %}
            {% elsif collections_per_row == 3 %}
              {% cycle '', '', '<br class="clear product_clear" />' %}
            {% elsif collections_per_row == 4 %}
              {% cycle '', '', '', '<br class="clear product_clear" />' %}
            {% elsif collections_per_row == 5 %}
              {% cycle '', '', '', '', '<br class="clear product_clear" />' %}
            {% endif %}

          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Collection list",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Collection list"
    },
    {
      "type": "range",
      "id": "frontpage_collections_per_row",
      "label": "Collections per row",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "frontpage_collections_title",
      "label": "Show collection title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "collection_count",
      "label": "Show collection product count",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "feature_collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "800 x 800px recommended"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Collection list",
    "category": "Collection",
    "settings": {

    },
    "blocks": [
      {
        "type": "collection"
      },
      {
        "type": "collection"
      },
      {
        "type": "collection"
      }
    ]
  }]
}
{% endschema %}