{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% include 'include-content' %}

{% schema %}

{
  "name": "Page",
  "class": "content-section",
  "settings": [
    {
      "type": "page",
      "id": "content_page",
      "label": "Content page"
    }
  ],
  "presets": [{
    "name": "Page",
    "category": "Text",
    "settings": {
    }
  }]
}
{% endschema %}