 {% include 'ly-global' %}
 
 <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "{{ langify_shop_name }}",
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append:'x' %}
      "logo": "https:{{ section.settings.logo | img_url: image_size }}",
    {% endif %}
    "sameAs": [
      "{{ settings.twitter_link }}",
      "{{ settings.facebook_link }}",
      "{{ settings.pinterest_link }}",
      "{{ settings.instagram_link }}",
      "{{ settings.tumblr_link }}",
      "{{ settings.snapchat_link }}",
      "{{ settings.youtube_link }}",
      "{{ settings.vimeo_link }}"
    ],
    "url": "{{ langify_shop_url }}{{ page.url }}"
  }
</script>

 {% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ langify_shop_name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ langify_shop_url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ langify_shop_url }}{{ page.url }}"
    }
  </script>
{% endif %}


{% if section.settings.show_announcement_message != blank and section.settings.announcement_message != blank %}
  <div class="announcementBar">
    <div class="announcementBar__message">
      {% if section.settings.announcement_link and section.settings.announcement_message != blank %}
        <a href="{{ section.settings.announcement_link }}">
          <p>{{ section.settings.announcement_message }}</p>
        </a>
      {% elsif section.settings.announcement_message != blank %}
        <p>{{ section.settings.announcement_message }}</p>
      {% endif %}
      <span class="ss-icon banner-close icon-close"></span>
    </div>
  </div>
{% endif %}

<div class="top_bar top_bar--fixed-{{section.settings.fix_top_bar}}">
  <div class="container">
    
    {% if section.settings.search_box_top_bar %}
      <div class="four columns top_bar_search">
        <form class="search" action="/search">
          {% if settings.search_option != 'everything' %}
            <input type="hidden" name="type" value="product" />
          {% endif %}
          <input type="text" name="q" class="search_box" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.search.placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '10771767' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" value="{% if search and search.results.first.price %}{{ search.terms }}{% endif %}" autocapitalize="off" autocomplete="off" autocorrect="off" />
        </form>
      </div>
    {% endif %}

    {% if settings.show_multiple_currencies %}
      <div class="three columns currencies-switcher mobile_hidden">
        {% include 'currencies-switcher' %}
      </div>
    {% endif %}

    <div class="columns {% if section.settings.search_box_top_bar and settings.show_multiple_currencies %}six{% elsif section.settings.search_box_top_bar or settings.show_multiple_currencies %}six{% else %}sixteen{% endif %}">
      <ul>
        {% if section.settings.top_bar_linklist != blank %}

          {% assign top_bar_menu = linklists[section.settings.top_bar_linklist] %}
          {% for link in top_bar_menu.links %}
            <li>
              <a href="{{ link.url }}">{% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
            </li>
            {% for sub_link in link.links %}
              <li>
                <a href="{{ sub_link.url }}">{% comment %}ly_code_replace_for_[ sub_link.title ]_begin{% endcomment %}{% include 'ly-title' with sub_link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
              </li>
              {% for sub_sub_link in sub_link.links %}
                <li>
                  <a href="{{ sub_sub_link.url }}">{% comment %}ly_code_replace_for_[ sub_sub_link.title ]_begin{% endcomment %}{% include 'ly-title' with sub_sub_link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
                </li>
              {% endfor %}
            {% endfor %}
          {% endfor %}

        {% endif %}

        {% if section.settings.phone_number != blank %}
          <li>
            <a href="tel:+{{ section.settings.phone_number | replace: ' ', '' | replace: '+', '' | replace: '-', '' }}">{{ section.settings.phone_number | escape }}</a>
          </li>
        {% endif %}

        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li>
              {% comment %}ly_i18n_replace_for_[ 'layout.customer.log_out' | t | customer_logout_link ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.customer.log_out' | t | customer_logout_link }}{% endcapture %}{% include 'ly-static-string' with '10771768' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape | customer_logout_link }}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
            </li>
            {% if customer.name != blank %}
              <li>
                <a href="/account">{{ customer.name }}</a>
              </li>
            {% endif %}
          {% else %}
            <li>
              {% comment %}ly_i18n_replace_for_[ 'layout.customer.log_in' | t | customer_login_link ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.customer.log_in' | t | customer_login_link }}{% endcapture %}{% include 'ly-static-string' with '10771769' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape | customer_login_link }}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
            </li>
          {% endif %}
        {% endif %}

        <li>
          <a href="/cart" class="cart_button"><span class="icon-cart"></span> {% comment %}ly_i18n_replace_for_[ 'layout.general.cart' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.general.cart' | t }}{% endcapture %}{% include 'ly-static-string' with '10771770' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} (<span class="cart_count">{{ cart.item_count }}</span>)</a>
        </li>
        <li>
          {% if cart.item_count == 0 %}
            <a href="/cart" class="checkout">{% comment %}ly_i18n_replace_for_[ 'layout.general.checkout' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.general.checkout' | t }}{% endcapture %}{% include 'ly-static-string' with '10771771' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
          {% else %}
            <a href="/checkout{% comment %}ly_checkout_begin{% endcomment %}{% if request.host %}{% assign host = request.host %}{% assign domains = shop.metafields.language_domains %}{% for domain in domains %}{% assign key = domain | first %}{% assign value = domain | last | split: ',' %}{% if value contains host %}{% assign language = key %}{% endif %}{% endfor %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% else %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% endif %}{% assign checkout_code = shop.metafields.language_codes[language] %}{% if checkout_code %}{% assign checkout_code = '?locale=' | append: checkout_code %}{{ checkout_code }}{% endif %}{% comment %}ly_checkout_end{% endcomment %}" class="checkout">{% comment %}ly_i18n_replace_for_[ 'layout.general.checkout' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.general.checkout' | t }}{% endcapture %}{% include 'ly-static-string' with '10771771' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
          {% endif %}
        </li>
      </ul>
    </div>

    {% if settings.header_social_icons %}
      <div class="columns four topbarFixed--{{section.settings.fix_top_bar}} topSearch--{{section.settings.search_box_top_bar}}">
        <div class="header_icons">
          {% include 'social-icons' %}
        </div>
      </div>
    {% endif %}
    
	<div class="two columns language-switcher">
    	{% include 'ly-languages-switcher' %}
    </div>

  </div>
</div>

<div class="container content">
  <div class="sixteen columns logo header-logo topbarFixed--{{section.settings.fix_top_bar}} topSearch--{{section.settings.search_box_top_bar}}">
    <a href="/" title="{{ langify_shop_name }}" class="logo-align--{{ section.settings.logo_alignment }}">
      {% if section.settings.logo != nil %}
      <img src="{{ section.settings.logo | img_url: '720x' }}" alt="{{ langify_shop_name }}" /> <span>{{ langify_shop_name }}</span>
      {% else %}
        {{ langify_shop_name }}
      {% endif %}
    </a>
  </div>
</div>

<div id="nav" class=" nav-align--{{section.settings.menu_alignment}}
                       nav-border--{{ section.settings.nav_border }}
                       nav-separator--{{ section.settings.nav_separator }}">
  <ul id="menu" role="navigation">
    {% assign main_menu = linklists[section.settings.main_linklist] %}
    {% for link in main_menu.links %}
    {% if link.links == blank %}
    <li>
      <a href="{{ link.url }}" {% if link.active %}class="active"{% endif %}>{% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
    </li>
    {% else %}
    <li class="dropdown sub-menu" aria-haspopup="true" aria-expanded="false">
      <a {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
         class="slicknav_item {% if link.active or link.child_active %}active{% endif %}"
         {% else %}
         class="{% if link.active or link.child_active %}active{% endif %}" href="{{ link.url }}"
         {% endif %}>
        {% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}<span class="icon-down-arrow arrow"></span>
      </a>
      <ul class="animated fadeIn submenu_list">
        {% for sub_link in link.links %}
        {% if sub_link.links == blank %}
        <li><a href="{{ sub_link.url }}">{% comment %}ly_code_replace_for_[ sub_link.title ]_begin{% endcomment %}{% include 'ly-title' with sub_link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a></li>
        {% else %}
        <li class="sub-menu" aria-haspopup="true" aria-expanded="false">
          <a {% if sub_link.url == 'http://' or sub_link.url == '' or sub_link.url == '/' or sub_link.url == 'https://' or sub_link.url == '#' %}
             class="slicknav_item {% if sub_link.active or sub_link.child_active %}active{% endif %}"
             {% else %}
             class="{% if sub_link.active or sub_link.child_active %}active{% endif %}" href="{{ sub_link.url }}"
             {% endif %}>
            {% comment %}ly_code_replace_for_[ sub_link.title ]_begin{% endcomment %}{% include 'ly-title' with sub_link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %} <span class="icon-right-arrow arrow"></span>
          </a>
          <ul class="animated fadeIn sub_submenu_list">
            {% for sub_sub_link in sub_link.links %}
            <li><a href="{{ sub_sub_link.url }}">{% comment %}ly_code_replace_for_[ sub_sub_link.title ]_begin{% endcomment %}{% include 'ly-title' with sub_sub_link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
<div id="mobile_nav" class="nav-align--{{ section.settings.menu_alignment }} nav-border--{{ section.settings.nav_border }}">
  {% if settings.show_multiple_currencies %}
  <div class="mobile_currency">
    {% include 'currencies-switcher' %}
  </div>
  {% endif %}
</div>
<style>
  .header-logo{margin-top: 0;}
  .header-logo.logo a {
    max-width: {{ section.settings.logo_width }}px;
  }
  .featured_content a, .featured_content p {
    color: {{ section.settings.announcement_color }};
  }
  .announcementBar .icon-close {
    color: {{ section.settings.announcement_text_color }};
  }

  .promo_banner-show div.announcementBar {
    background-color: {{ section.settings.announcement_color }};
    {% if section.settings.announcement_homepage_only %}
      display: none;
    {% endif %}
  }
  {% if section.settings.announcement_homepage_only %}
    .promo_banner-show.index div.announcementBar {
      display: block;
    }
  {% endif %}

  div.announcementBar__message a,
  div.announcementBar__message p {
    color: {{ section.settings.announcement_text_color }};
  }

</style>



{% schema %}
{
  "name": "Header",
  "class": "header-section",
  "settings": [
    {
      "type": "header",
      "content": "Announcement bar"
    },
    {
      "type": "checkbox",
      "id": "show_announcement_message",
      "label": "Show announcement"
    },
    {
      "type": "checkbox",
      "id": "announcement_homepage_only",
      "label": "Home page only"
    },
    {
      "type": "text",
      "id": "announcement_message",
      "label": "Text",
      "default": "Announcement message"
    },
    {
      "type": "url",
      "id": "announcement_link",
      "label": "Link"
    },
    {
      "type": "color",
      "id": "announcement_color",
      "label": "Bar",
      "default": "#444"
    },
    {
      "type": "color",
      "id": "announcement_text_color",
      "label": "Text",
      "default": "#FFF"
    },
    {
      "type": "header",
      "content": "Top bar"
    },
    {
     "type": "checkbox",
     "id": "fix_top_bar",
     "label": "Enable fixed ('sticky') top bar",
     "default": true
    },
    {
     "type": "checkbox",
     "id": "search_box_top_bar",
     "label": "Show search",
     "default": true
    },
    {
     "type": "link_list",
     "id": "top_bar_linklist",
     "label": "Menu",
     "info": "This menu won't show drop-down items"
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "Phone number",
      "info": "1-800-555-5555"
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image",
      "info": "720px wide recommended"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "Logo display width",
      "step": 10,
      "min": 100,
      "max": 800,
      "default": 360,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "logo_alignment",
      "label": "Logo alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "header_social_icons",
      "label": "Show social media header icons"
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Main menu",
      "default": "main-menu"
    },
    {
      "type": "select",
      "id": "menu_alignment",
      "label": "Main menu alignment",
      "info": "Desktop only",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "nav_border",
      "label": "Main menu border",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "dashed",
          "label": "Dashed"
        },
        {
          "value": "dotted",
          "label": "Dotted"
        },
        {
          "value": "double",
          "label": "Double"
        },
        {
          "value": "solid",
          "label": "Solid"
        }
      ],
      "default": "double"
    },
    {
      "type": "select",
      "id": "nav_separator",
      "label": "Main menu link separator",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "solid",
          "label": "Border"
        }
      ],
      "default": "solid"
    }
  ],
  "blocks": [
      {
        "type": "menu",
        "name": "Mega menu",
        "settings": [
          {
            "type": "text",
            "id": "mega_menu_title",
            "label": "Link title",
            "info": "The [mega menu](https://help.outofthesandbox.com/hc/en-us/articles/360008536533) will appear below this parent link"
          },
          {
            "type": "link_list",
            "id": "mega_linklist",
            "label": "Mega menu"
          },
          {
            "type": "header",
            "content": "Content column"
          },
          {
            "type": "text",
            "id": "column_title",
            "label": "Heading",
            "default": "Catalog"
          },
          {
            "type": "image_picker",
            "id": "column_image",
            "label": "Image",
            "info": "800 x 800px recommended"
          },
          {
            "type": "text",
            "id": "column_text",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "column_link",
            "label": "URL"
          },
          {
            "type": "select",
            "id": "column_position",
            "label": "Position",
            "options": [
              {
                "value": "first_column",
                "label": "First column"
              },
              {
                "value": "last_column",
                "label": "Last column"
              }
            ],
            "default": "first_column"
          },
          {
            "type": "header",
            "content": "Bottom banner"
          },
          {
            "type": "text",
            "id": "mega_text",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "mega_text_url",
            "label": "Link"
          },
          {
            "type": "color",
            "id": "mega_menu_banner_bg",
            "label": "Background",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "mega_menu_banner_text",
            "label": "Text",
            "default": "#404040"
          }
        ]
      }
  ]
}
{% endschema %}
