{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% paginate collections by section.settings.pagination_limit %}
  {% assign collections_per_row = section.settings.collections_per_row %}

  <div class="sixteen columns">
    <div class="section clearfix">
      <h1>{% comment %}ly_i18n_replace_for_[ 'collections.general.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.general.title' | t }}{% endcapture %}{% include 'ly-static-string' with '10771772' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>

      {% if section.settings.collection_breadcrumb %}
      <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [
            {
              "@type": "ListItem",
              "position": 1,
              "item": {
                "@id": "{{ langify_shop_url }}",
                "name": "{{ 'general.breadcrumbs.home' | t }}"
              }
            },
            {
              "@type": "ListItem",
              "position": 2,
              "item": {
                "@id": "{{ langify_shop_url }}/collections/",
                "name": "{{ 'collections.general.title' | t }}"
              }
            }
            {% if current_tags %}
              {% for tag in current_tags %}
                {% unless tag contains 'meta-' %}
                  ,
                  {
                    "@type": "ListItem",
                    "position": {{ forloop.index | plus: 2 }},
                    "item": {
                      "@id": "{{ langify_shop_url }}/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}",
                      "name": "{{ tag }}"
                    }
                  }
                {% endunless %}
              {% endfor %}
            {% endif %}
          ]
        }
      </script>

      <div class="breadcrumb eight columns alpha">
        <a href="{{ langify_shop_url }}" title="{{ langify_shop_name | escape }}">
          <span>{{ 'general.breadcrumbs.home' | t }}</span>
        </a><span class="icon-right-arrow"></span>
          <span>{{ 'collections.general.title' | t }}</span>
      </div>
      {% endif %}

    </div>
  </div>

  {% capture new_row %}
      <br class="clear product_clear" />
  {% endcapture %}

  {% for collection in collections %}

    {% if settings.align_height %}
      {% if collection.image %}
        {% assign collection_image = collection.image %}
      {% else %}
        {% assign collection_image = collection.products.first.featured_image %}
      {% endif %}

      {% assign collection_height = settings.collection_height | plus: 0 %}
      {% assign product_aspect_ratio = collection_image.aspect_ratio | plus: 0 %}
      {% assign product_set_width = product_aspect_ratio | times: collection_height %}

      {% if product.featured_image.width >= product.featured_image.height %}
        {% assign align_height_value = 'width: 100%; height: auto;' %}
      {% else %}
        {% assign align_height_value = 'width: 100%;' %}
      {% endif %}
    {% endif %}

    {% unless collection.handle == 'frontpage' %}
      {% capture collection_title %}{% comment %}ly_code_replace_for_[ collection.title | escape ]_begin{% endcomment %}{% include 'ly-title' with collection %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}{% endcapture %}
      <div class="{% if collections_per_row == 2 %}eight columns{% elsif collections_per_row == 3 %}one-third column{% else %}four columns{% endif %} thumbnail {% cycle 'even', 'odd' %} price_align--{{ settings.collection_price_position }}">
        <a href="{{ collection.url }}" title="{{ collection_title }}">
          <div class="image__container" style="{% if settings.align_height %} max-width: {{ product_set_width }}px; {% else %} max-width: {%- if collection.image -%}{{- collection.image.width -}}{%- else -%}{{- collection.products.first.featured_image.width -}}{%- endif -%}px; {% endif %}">
            {% if collection.image %}
              <img  src="{{ collection.image.src | img_url: '300x' }}"
                    class="lazyload lazyload--fade-in"
                    alt="{{ collection.image.alt | escape }}"
                    style="max-width: {{- collection.image.width -}}px;"
                    data-sizes="auto"
                    data-src="{{ collection.image.src | img_url: '1160x' }}"
                    data-srcset=" {{ collection.image.src | img_url: '2048x' }} 2048w,
                                  {{ collection.image.src | img_url: '1600x' }} 1600w,
                                  {{ collection.image.src | img_url: '1200x' }} 1200w,
                                  {{ collection.image.src | img_url: '1000x' }} 1000w,
                                  {{ collection.image.src | img_url: '800x' }} 800w,
                                  {{ collection.image.src | img_url: '600x' }} 600w,
                                  {{ collection.image.src | img_url: '400x' }} 400w"
                    />
            {% else %}
              <img  src="{{ collection.products.first.featured_image | img_url: '300x' }}"
                    class="lazyload lazyload--fade-in"
                    alt="{{ collection.image.alt | escape }}"
                    style="max-width: {{- collection.image.width -}}px;"
                    data-sizes="auto"
                    data-src="{{ collection.products.first.featured_image | img_url: '1160x' }}"
                    data-srcset=" {{ collection.products.first.featured_image | img_url: '2048x' }} 2048w,
                                  {{ collection.products.first.featured_image | img_url: '1600x' }} 1600w,
                                  {{ collection.products.first.featured_image | img_url: '1200x' }} 1200w,
                                  {{ collection.products.first.featured_image | img_url: '1000x' }} 1000w,
                                  {{ collection.products.first.featured_image | img_url: '800x' }} 800w,
                                  {{ collection.products.first.featured_image | img_url: '600x' }} 600w,
                                  {{ collection.products.first.featured_image | img_url: '400x' }} 400w"
                    />
            {% endif %}
          </div>

          <div class="info">
            <div class="info__text">
              <span class="title">{{ collection.title }}</span>
            </div>
            <span class="price">
              {% comment %}ly_i18n_replace_for_[ 'layout.counts.items_with_count' | t: count: collection.all_products_count ]_begin{% endcomment %}{% if collection.all_products_count  == 0 %}{% capture ly_template %}{{ 'layout.counts.items_with_count' | t: count: collection.all_products_count }}{% endcapture %}{% include 'ly-static-string' with '10771775' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = collection.all_products_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif collection.all_products_count  == 1 %}{% capture ly_template %}{{ 'layout.counts.items_with_count' | t: count: collection.all_products_count }}{% endcapture %}{% include 'ly-static-string' with '10771774' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = collection.all_products_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif collection.all_products_count  == 2 %}{% capture ly_template %}{{ 'layout.counts.items_with_count' | t: count: collection.all_products_count }}{% endcapture %}{% include 'ly-static-string' with '10771775' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = collection.all_products_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'layout.counts.items_with_count' | t: count: collection.all_products_count }}{% endcapture %}{% include 'ly-static-string' with '10771775' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = collection.all_products_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
            </span>
            <span class="title">{% comment %}ly_code_replace_for_[ collection.title ]_begin{% endcomment %}{% include 'ly-title' with collection %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span>
          </div>
        </a>
      </div>

      {% if collections_per_row == 2 %}
        {% cycle '', new_row %}
      {% elsif collections_per_row == 3 %}
        {% cycle '', '', new_row %}
      {% elsif collections_per_row == 4 %}
        {% cycle '', '', '', new_row %}
      {% endif %}
    {% endunless %}
  {% endfor %}

  {% include 'pagination' %}
{% endpaginate %}

{% schema %}

{
  "name": "Collections",
  "class": "collection-template-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "collection_breadcrumb",
      "label": "Show breadcrumb links",
      "default": true
    },
    {
      "type": "range",
      "id": "collections_per_row",
      "label": "Collections per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "pagination_limit",
      "label": "Collections per page",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 48
    }
  ]
}

{% endschema %}
