{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="container">
  <div class="sixteen columns">
    <div class="section clearfix">
      <h1 class="banner_title">{% comment %}ly_code_replace_for_[ page.title ]_begin{% endcomment %}{% include 'ly-title' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h1>
    </div>
  </div>
</div>

{% if section.settings.image %}
  <img  src="{{ section.settings.image | img_url: '300x' }}"
        class="banner_image lazyload lazyload--fade-in"
        sizes="100vw"
        srcset="  {{ section.settings.image | img_url: '2048x' }} 2048w,
                  {{ section.settings.image | img_url: '1600x' }} 1600w,
                  {{ section.settings.image | img_url: '1200x' }} 1200w,
                  {{ section.settings.image | img_url: '1000x' }} 1000w,
                  {{ section.settings.image | img_url: '800x' }} 800w,
                  {{ section.settings.image | img_url: '600x' }} 600w,
                  {{ section.settings.image | img_url: '400x' }} 400w"
         />
{% else %}
  {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--banner' }}
{% endif %}

<div class="container">
  <div class="sixteen columns">
    <div class="section clearfix">
      {% comment %}ly_code_replace_for_[ page.content ]_begin{% endcomment %}{% include 'ly-content' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Banner",
    "class": "banner-template-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "1600 x 600px recommended"
      }
    ]
  }
{% endschema %}
