{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div id="password-container" class="center">
  {% if section.settings.custom_logo != nil %}
    <div class="password-page-row">
      <div class="password-page-col">
          <img class="password-logo" src="{{ section.settings.custom_logo | img_url: '720x' }}" alt="{{ langify_shop_name }}" />
      </div>
    </div>
  {% else %}
    <div class="password-page-row">
        <div class="password-page-col">
          <h1 class="logo">{{ langify_shop_name }}</h1>
        </div>
    </div>
  {% endif %}
  <div class="password-page-row">
    <div class="password-page-col">
      <h3 class="password-page-message">{% comment %}ly_i18n_replace_for_[ 'general.password_page.opening_soon' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.password_page.opening_soon' | t }}{% endcapture %}{% include 'ly-static-string' with '10771819' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h3>
    </div>
  </div>
  {% unless shop.password_message == blank %}
  <div class="password-page-row">
    <div class="password-page-col">
      <p class="password-message">{{ shop.password_message }}</p>
    </div>
  </div>
  {% endunless %}
  <div class="controls">
    <div id="open-me">
      <a href="#">&#8226; {% comment %}ly_i18n_replace_for_[ 'general.password_page.login_form_heading' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.password_page.login_form_heading' | t }}{% endcapture %}{% include 'ly-static-string' with '10771820' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} &#8226;</a>
    </div>
  </div>

  <div class="password-page-row">
    <div class="password-page-col">
      {% if section.settings.newsletter_richtext != blank %}
        {{ section.settings.newsletter_richtext }}
      {% endif %}
      {% include 'newsletter' %}
        <p class="password-page-follow">{% comment %}ly_i18n_replace_for_[ 'general.password_page.signup_form_heading' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.password_page.signup_form_heading' | t }}{% endcapture %}{% include 'ly-static-string' with '10771821' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
    </div>
  </div>

  <div class="password-page-row">
    <div class="password-page-col password-social">
      {% if section.settings.social_media %}
        <ul class="social_icons">
          {% if settings.twitter_link != '' %}
            <li><a href="{{ settings.twitter_link }}" title="{{ langify_shop_name }} <ly-as-10771808>on Twitter</ly-as-10771808>" class="ss-icon" rel="me" target="_blank">
              &#xF611;
            </a></li>
          {% endif %}

          {% if settings.facebook_link != '' %}
            <li><a href="{{ settings.facebook_link }}" title="{{ langify_shop_name }} <ly-as-10771809>on Facebook</ly-as-10771809>" class="ss-icon" rel="me" target="_blank">
              &#xF610;
            </a></li>
          {% endif %}

          {% if settings.google_link != '' %}
            <li><a href="{{ settings.google_link }}" title="{{ langify_shop_name }} <ly-as-10771810>on Google+</ly-as-10771810>" class="ss-icon" rel="publisher" target="_blank">
              &#xF613;
            </a></li>
          {% endif %}

          {% if settings.youtube_link != '' %}
            <li><a href="{{ settings.youtube_link }}" title="{{ langify_shop_name }} <ly-as-10771811>on YouTube</ly-as-10771811>" class="ss-icon" rel="me" target="_blank">
              &#xF630;
            </a></li>
          {% endif %}

          {% if settings.vimeo_link != '' %}
            <li><a href="{{ settings.vimeo_link }}" title="{{ langify_shop_name }} <ly-as-10771812>on Vimeo</ly-as-10771812>" class="ss-icon" rel="me" target="_blank">
              &#xF631;
            </a></li>
          {% endif %}

          {% if settings.pinterest_link != '' %}
            <li><a href="{{ settings.pinterest_link }}" title="{{ langify_shop_name }} <ly-as-10771813>on Pinterest</ly-as-10771813>" class="ss-icon" rel="me" target="_blank">
              &#xF650;
            </a></li>
          {% endif %}

          {% if settings.tumblr_link != '' %}
            <li><a href="{{ settings.tumblr_link }}" title="{{ langify_shop_name }} <ly-as-10771814>on Tumblr</ly-as-10771814>" class="ss-icon" rel="me" target="_blank">
              &#xF620;
            </a></li>
          {% endif %}

          {% if settings.instagram_link != '' %}
            <li><a href="{{ settings.instagram_link }}" title="{{ langify_shop_name }} <ly-as-10771815>on Instagram</ly-as-10771815>" class="ss-icon" rel="me" target="_blank">
              &#xF641;
            </a></li>
          {% endif %}

          {% if settings.linkedin_link != '' %}
            <li><a href="{{ settings.linkedin_link }}" title="{{ langify_shop_name }} <ly-as-10771816>on LinkedIn</ly-as-10771816>" class="ss-icon" rel="me" target="_blank">
              &#xF612;
            </a></li>
          {% endif %}

          {% if settings.flickr_link != '' %}
            <li><a href="{{ settings.flickr_link }}" title="{{ langify_shop_name }} <ly-as-10771817>on Flickr</ly-as-10771817>" class="ss-icon" rel="me" target="_blank">
              &#xF640;
            </a></li>
          {% endif %}

          {% if settings.email_link != '' %}
            <li><a href="mailto:{{ settings.email_link }}" title="<ly-as-10771818>Email</ly-as-10771818> {{ langify_shop_name }}" class="ss-icon" target="_blank">
              &#x2709;
            </a></li>
          {% endif %}
        </ul>
        <p class="password-page-follow">{% comment %}ly_i18n_replace_for_[ 'general.password_page.spread_the_word' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.password_page.spread_the_word' | t }}{% endcapture %}{% include 'ly-static-string' with '10771822' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
      {% endif %}

    </div>
  </div>

  <div class="password-page-row">
      <div class="password-page-col">
        <div class="password-footer">
          <div class="powered">
            &copy; {{ "now" | date: "%Y" }} {{ langify_shop_name }}. {% comment %}ly_i18n_replace_for_[ 'layout.general.designer_credits_html' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.general.designer_credits_html' | t }}{% endcapture %}{% include 'ly-static-string' with '10771823' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}<br>
          </div>
          <div class="shopify">
            {% comment %}ly_i18n_replace_for_[ 'general.password_page.powered_by_shopify_html' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.password_page.powered_by_shopify_html' | t }}{% endcapture %}{% include 'ly-static-string' with '10771824' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
          </div>
        </div>
       </div>
    </div>
  </div>

<div class="overlay overlay-data">
<span class="close-me controls"><div class="pass-close"><a class="ss-icon icon-close" href="javascript:;"></a></div></span>
<div class="modalbox">
  <div class="inputbox">
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      {% if form.errors.count > 0 %}
        <script>
          $( document ).ready(function() {
            $( ".overlay" ).addClass('overlay-open');
          });
        </script>
      {% endif %}
      <label for="password">{% comment %}ly_i18n_replace_for_[ 'general.password_page.login_form_password_label' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.password_page.login_form_password_label' | t }}{% endcapture %}{% include 'ly-static-string' with '10771825' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} </label>
      <div>
        <input type="password" name="password" id="password" autofocus placeholder="{% comment %}ly_i18n_replace_for_[ 'general.password_page.login_form_password_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.password_page.login_form_password_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '10771826' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}"/>
        <input class="action_button sign_up" name="commit" type="submit" value="{% comment %}ly_i18n_replace_for_[ 'general.password_page.login_form_submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.password_page.login_form_submit' | t }}{% endcapture %}{% include 'ly-static-string' with '10771827' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" />
      </div>
    {% endform %}

    <div id="owner">{% comment %}ly_i18n_replace_for_[ 'general.password_page.admin_link_html' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.password_page.admin_link_html' | t }}{% endcapture %}{% include 'ly-static-string' with '10771828' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} <ly-as-10771806>or</ly-as-10771806> <a href="/admin/online_store/preferences?tutorial=unlock"><ly-as-10771807>change your password settings</ly-as-10771807></a></div>
  </div>
</div>
</div>

<script>
$(function() {
  $( "#open-me" ).click(function() {
    $( ".overlay" ).addClass('overlay-open');
  });

  $( ".close-me" ).click(function() {
    $( ".overlay" ).removeClass( 'overlay-open' );
  });
});
</script>

<style>
  #password-page-bg {

    color: {{ settings.password_page_text_color }};

    {% if section.settings.use_background and section.settings.password-page-background == blank %}
      background: url({% comment %}ly_asset_replace_for_[ "password-page-background.jpg" | asset_url ]_begin{% endcomment %}{% assign ly_asset = "password-page-background.jpg" %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}) center center;
    {% elsif section.settings.use_background and section.settings.password-page-background != blank %}
      background: url({{ section.settings.password-page-background | img_url: '2000x' }}) center center;
    {% else %}
      background-color: {{ settings.password_page_background_color }};
    {% endif %}

    {% if section.settings.pagework_page_bg_stretched %}
      background-repeat: no-repeat;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    {% endif %}
  }

  #password-container h1 {
    color: {{ settings.password_page_text_color }};
  }

  .password-page-message {
    color: {{ settings.password_page_text_color }};
    border-top: 1px solid {{ settings.password_page_text_color }};
    border-bottom: 1px solid {{ settings.password_page_text_color }};
  }

  .password-page-follow {
    color: {{ settings.password_page_text_color }};
  }

  .password-message{
    color: {{ settings.password_page_text_color }};
  }

  .password-social .social_icons a, .password-social .social_icons a:visited, .password-social .social_icons a:active {
    color: {{ settings.password_page_text_color }};
  }

  .password-footer {
    color: {{ settings.password_page_footer_text_color }};
  }

  .password-footer a {
    color: {{ settings.password_page_footer_link_color }};
  }

  #open-me a {
    color: {{ settings.password_page_text_color }};
  }
</style>

{% schema %}
{
  "name": "Password page",
  "class": "password-page",
  "settings": [
    {
      "type": "image_picker",
      "id": "custom_logo",
      "label": "Logo",
      "info": "720px wide recommended"
    },
    {
      "type": "checkbox",
      "id": "use_background",
      "label": "Use background image"
    },
    {
      "type": "image_picker",
      "id": "password-page-background",
      "label": "Background image",
      "info": "1800 x 1000px recommended"
    },
    {
      "type": "checkbox",
      "id": "pagework_page_bg_stretched",
      "label": "Stretch background to fill the password page",
      "default": true
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "richtext",
      "id": "newsletter_richtext",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Social media"
    },
    {
      "type": "checkbox",
      "id": "social_media",
      "label": "Display social icons",
      "default": true
    }
  ]
}
{% endschema %}
