{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% if section.settings.product_breadcrumb == false %}
  {% style %}
    .breadcrumb__wrapper {
      display: none;
    }
  {% endstyle %}
{% endif %}

<div class="sixteen columns" data-initial-width="sixteen" data-sidebar-width="twelve">
  <div class="product-{{ product.id }}">

  <div class="section product_section js-product_section clearfix {% if product.images.size > 1 %} thumbnail_position--{{settings.thumbnail_position}} {% endif %}  product_slideshow_animation--{{settings.product_slideshow_animation}}"
        data-thumbnail="{{settings.thumbnail_position}}"
        data-slideshow-animation="{{settings.product_slideshow_animation}}"
        data-slideshow-speed="{{settings.slideshow_speed}}">

    {% if section.settings.product_images_position == 'left' %}
      <div class="flexslider-container ten columns alpha" data-initial-width="ten" data-sidebar-width="six">
        {% include 'product-images' %}
      </div>
    {% endif %}

    <div class="six columns {% if section.settings.product_images_position == 'left' %}omega{% else %}alpha{% endif %}">
      {% assign collection_handles = product.collections | map: 'handle' %}
      {% assign variant = product.selected_or_first_available_variant %}
      <h1 class="product_name" itemprop="name">{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h1>

      {% if settings.enable_shopify_product_badges %}
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      {% endif %}

      {% if section.settings.display_vendor %}
        <p class="vendor">
          <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
        </p>
      {% endif %}

      {% if variant.sku != blank and section.settings.display_sku %}
        <p class="sku">
          <span itemprop="sku">{{ variant.sku }}</span>
        </p>
      {% endif %}

      {% include 'size-chart-popup' %}

      {% if collection_handles contains 'coming-soon' %}
        <p class="modal_price">{{ 'collections.general.coming_soon' | t }}</p>
      {% else %}
        <p class="modal_price">
          <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
          <span content="{{ variant.price | money_without_currency | remove: "," }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
            <span class="current_price {% if product.available == false %}hidden{% endif %}">
              {% if variant.price > 0 %}
                <span class="money">{{ variant.price | money }}</span>
              {% else %}
                {{ settings.free_price_text }}
              {% endif %}
            </span>
          </span>
          <span class="was_price">
            {% if variant.price < variant.compare_at_price and variant.available %}
              <span class="money">{{ variant.compare_at_price | money }}</span>
            {% endif %}
          </span>
        </p>
        {% include 'product-notify-me' %}
      {% endif %}

      {% unless collection_handles contains 'coming-soon' %}
        {% include 'product-form' with 'product' %}
      {% endunless %}

      {% if settings.enable_shopify_review_comments and settings.review_position == "top" %}
        <div id="shopify-product-reviews" data-id="{{product.id}}">{% comment %}ly_code_replace_for_[ product.metafields.spr.reviews ]_begin{% endcomment %}{% if request.host %}{% assign host = request.host %}{% assign domains = shop.metafields.language_domains %}{% for domain in domains %}{% assign key = domain | first %}{% assign value = domain | last | split: ',' %}{% if value contains host %}{% assign language = key %}{% endif %}{% endfor %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% else %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% endif %}{% assign ns = language | append: 'spr' %}{% assign key = 'reviews' %}{% if product.metafields[ns][key] %}{% assign ly_translation = product.metafields[ns][key] %}{% else %}{% assign ly_translation =  product.metafields.spr.reviews  %}{% endif %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</div>
      {% endif %}

      {% if section.settings.display_collections or section.settings.display_tags or section.settings.display_type %}
        <hr />
      {% endif %}

      <div class="meta">
        {% if section.settings.display_collections %}
          <p>
            <span class="label">{% comment %}ly_i18n_replace_for_[ 'products.product.collections' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.collections' | t }}{% endcapture %}{% include 'ly-static-string' with '10771832' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}:</span>
            <span>
              {% for col in product.collections %}
               <a href="{{ col.url }}" title="{% comment %}ly_i18n_replace_for_[ 'collections.general.link_title' | t: title: col.title ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.general.link_title' | t: title: col.title }}{% endcapture %}{% include 'ly-static-string' with '10771834' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% include 'ly-title' with col %}{% assign replacement = ly_translation %}{% assign ly_template = ly_template | replace: '[[title]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">{% comment %}ly_code_replace_for_[ col.title ]_begin{% endcomment %}{% include 'ly-title' with col %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>{% unless forloop.last %},{% endunless %}
              {% endfor %}
            </span>
          </p>
        {% endif %}

        {% if section.settings.display_tags %}
          <p>
            {% for tag in product.tags %}
              {% if forloop.first %}
                 <span class="label">{% comment %}ly_i18n_replace_for_[ 'products.product.tags' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.tags' | t }}{% endcapture %}{% include 'ly-static-string' with '10771835' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}:</span>
              {% endif %}

              {% unless tag contains 'meta-' %}
                <span>
                   <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{% comment %}ly_i18n_replace_for_[ 'products.product.products_tagged' | t: tag: tag ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.products_tagged' | t: tag: tag }}{% endcapture %}{% include 'ly-static-string' with '10771837' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = tag  %}{% assign ly_template = ly_template | replace: '[[tag]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                </span>
              {% endunless %}
            {% endfor %}
          </p>
        {% endif %}

        {% if section.settings.display_type %}
          <p>
             <span class="label">{% comment %}ly_i18n_replace_for_[ 'products.product.product_types' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.product_types' | t }}{% endcapture %}{% include 'ly-static-string' with '10771838' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}:</span> <span itemprop="category">{{ product.type | link_to_type }}</span>
          </p>
        {% endif %}
      </div>

      <div class="social_links">
        {% if section.settings.display_social_buttons %}
          {% include "social-buttons", context: "product" %}
        {% endif %}
      </div>

      {% if collection %}
        <hr />
          <p class="meta">
            {% if collection.next_product %}
              {% capture next_url %}{{ collection.next_product }}{% endcapture %}
              <span class="right">
               {% comment %}ly_i18n_replace_for_[ 'products.general.next_product_html' | t | link_to: next_url ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.general.next_product_html' | t | link_to: next_url }}{% endcapture %}{% include 'ly-static-string' with '10771839' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | link_to: next_url }}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
              </span>
            {% endif %}

            {% if collection.previous_product %}
              {% capture prev_url %}{{ collection.previous_product }}{% endcapture %}
                <span class="left">
               {% comment %}ly_i18n_replace_for_[ 'products.general.previous_product_html' | t | link_to: prev_url ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.general.previous_product_html' | t | link_to: prev_url }}{% endcapture %}{% include 'ly-static-string' with '10771840' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | link_to: prev_url }}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
                </span>
            {% endif %}
          </p>
      {% endif %}

    </div>

    {% if section.settings.product_images_position == 'right' %}
      <div class="flexslider-container ten columns omega" data-initial-width="ten" data-sidebar-width="six">
        {% include 'product-images' %}
      </div>
    {% endif %}
  </div>
</div>

<br class="clear" />
<div class="section clearfix">
  <div class="description">
    {% comment %}ly_code_replace_for_[ product.description ]_begin{% endcomment %}{% include 'ly-description' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
  </div>
</div>

<div class="{% if sidebar %}twelve{% else %}sixteen{% endif %} columns">
{% if settings.enable_shopify_review_comments and settings.review_position == "bottom" %}
    <div id="shopify-product-reviews" data-id="{{product.id}}">{% comment %}ly_code_replace_for_[ product.metafields.spr.reviews ]_begin{% endcomment %}{% if request.host %}{% assign host = request.host %}{% assign domains = shop.metafields.language_domains %}{% for domain in domains %}{% assign key = domain | first %}{% assign value = domain | last | split: ',' %}{% if value contains host %}{% assign language = key %}{% endif %}{% endfor %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% else %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% endif %}{% assign ns = language | append: 'spr' %}{% assign key = 'reviews' %}{% if product.metafields[ns][key] %}{% assign ly_translation = product.metafields[ns][key] %}{% else %}{% assign ly_translation =  product.metafields.spr.reviews  %}{% endif %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</div>
  {% endif %}
</div>

{% if section.settings.display_related_products %}
  {% capture limit %}{{ section.settings.products_per_row | plus: 1 }}{% endcapture %}
  {% if collection and collection.all_products_count > 1 %}
    {% assign col = collection.handle %}
  {% else %}
    {% assign col = product.collections.last.handle %}
{% endif %}

  {% for tag in product.tags %}
    {% if tag contains 'meta-related-collection-' %}
      {% assign related_collection_handle = tag | remove: 'meta-related-collection-' %}
      {% if collections[related_collection_handle].all_products_count > 0 %}
        {% assign col = related_collection_handle %}
        {% assign collection = collections[col] %}
        {% capture limit %}{{ collection.products_count | plus: 1 }}{% endcapture %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if col and collections[col].all_products_count > 0 %}
    {% if collections[col].all_products_count != 1 or collections[col].products.first.id != product.id %}
      <div class="{% if sidebar %}twelve{% else %}sixteen{% endif %} columns">
        <div class="section clearfix">
          <h2>{% comment %}ly_i18n_replace_for_[ 'products.product.related_items' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.related_items' | t }}{% endcapture %}{% include 'ly-static-string' with '10771841' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h2>
        </div>
      </div>
      {% assign skip_product = product %}
      {% assign products = collections[col].products %}
      {% assign products_per_row = section.settings.products_per_row %}
      <div class="{% if sidebar %}twelve{% else %}sixteen{% endif %} columns">
        {% include 'product-loop', sidebar: sidebar %}
      </div>
    </div>
    {% endif %}
  {% endif %}
{% endif %}
</div>
{% schema %}

{
  "name": "Product bottom",
  "class": "product-template-section product-description-bottom clearfix",
  "settings": [
    {
      "type": "checkbox",
      "id": "product_breadcrumb",
      "label": "Show breadcrumb links",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_tags",
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "display_type",
      "label": "Show type"
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "display_collections",
      "label": "Show collections"
    },
    {
      "type": "checkbox",
      "id": "display_sku",
      "label": "Show SKU"
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "radio",
      "id": "product_description_position",
      "label": "Description position",
      "options": [
        {
          "value": "top",
          "label": "Above 'add to cart'"
        },
        {
          "value": "bottom",
          "label": "Below 'add to cart'"
        }
      ]
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Images position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Dynamic checkout button"
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "default": true,
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
    }
  ]
}

{% endschema %}
