{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% comment %}
** Registration template - default view **
{% endcomment %}

<section class="registration">
    <div class="sixteen columns">
    <div class="section clearfix">
        <h1>{% comment %}ly_i18n_replace_for_[ 'customer.register.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.register.title' | t }}{% endcapture %}{% include 'ly-static-string' with '10771878' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>
    </div>
    </div>

    <div class="section clearfix">  
    <div class="eight columns offset-by-four">

        <div id="customer">
        <!-- Create Customer -->
        <div id="create-customer">

            {% if section.settings.richtext != blank %}
                <div class="richtext">{{ section.settings.richtext }}</div>
            {% endif %}

            {% form 'create_customer' %}
            {{ form.errors | default_errors }}

            <div id="first_name" class="clearfix large_form">
                <label for="first_name" class="login">{% comment %}ly_i18n_replace_for_[ 'customer.register.first_name' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.register.first_name' | t }}{% endcapture %}{% include 'ly-static-string' with '10771879' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
                <input type="text" value="" name="customer[first_name]" id="first_name" class="large" size="30" />
            </div>

            <div id="last_name" class="clearfix large_form">
                <label for="last_name" class="login">{% comment %}ly_i18n_replace_for_[ 'customer.register.last_name' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.register.last_name' | t }}{% endcapture %}{% include 'ly-static-string' with '10771880' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
                <input type="text" value="" name="customer[last_name]" id="last_name" class="large" size="30" />
            </div>

            <div id="email" class="clearfix large_form">
                <label for="email" class="login">{% comment %}ly_i18n_replace_for_[ 'customer.register.email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.register.email' | t }}{% endcapture %}{% include 'ly-static-string' with '10771881' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
                <input type="email" value="" name="customer[email]" id="email" class="large" size="30" />
            </div>

            <div id="password" class="clearfix large_form">
                <label for="password" class="login">{% comment %}ly_i18n_replace_for_[ 'customer.register.password' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.register.password' | t }}{% endcapture %}{% include 'ly-static-string' with '10771882' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
                <input type="password" value="" name="customer[password]" id="password" class="large password" size="30" />
            </div>

            <div class="acceptsMarketing">
               <input type="checkbox" id="customer[accepts_marketing]" name="customer[accepts_marketing]">
               <label for="customer[accepts_marketing]">{{ section.settings.accepts_marketing_richtext }}</label>
            </div>

            <p class="action_bottom">
                <input class="btn action_button" type="submit" value="{% comment %}ly_i18n_replace_for_[ 'customer.register.sign_up' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.register.sign_up' | t }}{% endcapture %}{% include 'ly-static-string' with '10771883' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" />
                <span class="note">{% comment %}ly_i18n_replace_for_[ 'customer.register.or' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.register.or' | t }}{% endcapture %}{% include 'ly-static-string' with '10771884' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} <a href="{{ langify_shop_url }}">{% comment %}ly_i18n_replace_for_[ 'customer.register.cancel' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.register.cancel' | t }}{% endcapture %}{% include 'ly-static-string' with '10771885' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a></span>
            </p>

            {% endform %}
        </div><!-- /#create-customer -->
        </div>
    </div>
    </div>
</section>

{% schema %}
  {
    "name": "Register",
    "class": "registration",
    "settings": [
      {
        "type": "richtext",
        "id": "richtext",
        "label": "Text"
      },
      {
        "type": "richtext",
        "id": "accepts_marketing_richtext",
        "label": "Accepts marketing text",
        "default": "<p>Subscribe to our newsletter?</p>"
      }
    ]
  }
{% endschema %}
