{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% assign search_pagination = section.settings.pagination_limit %}
{% paginate search.results by search_pagination %}

<div class="sixteen columns clearfix">
  <div class="section">
    <h1>{% comment %}ly_i18n_replace_for_[ 'general.search.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.title' | t }}{% endcapture %}{% include 'ly-static-string' with '10771888' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>
    {% if search.performed %}
      <div class="section clearfix">
        {% if section.settings.search_breadcrumb %}
        <div class="sixteen columns breadcrumb">
          <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "BreadcrumbList",
              "itemListElement": [
                {
                  "@type": "ListItem",
                  "position": 1,
                  "item": {
                    "@id": "{{ langify_shop_url }}",
                    "name": "{{ 'general.breadcrumbs.home' | t }}"
                  }
                },
                {
                  "@type": "ListItem",
                  "position": 2,
                  "item": {
                    "@id": "{{ langify_shop_url }}/search",
                    "name": "{{ 'general.search.title' | t }}"
                  }
                }
              ]
            }
          </script>
          <div class="breadcrumb eight columns alpha">
            <span><a href="{{ langify_shop_url }}" title="{{ langify_shop_name | escape }}" class="breadcrumb_link"><span>{{ 'general.breadcrumbs.home' | t }}</span></a></span>
            <span class="icon-right-arrow"></span>
            <span><a href="/search" class="breadcrumb_link"><span>{{ 'general.search.title' | t }}</span></a></span>

            {% if paginate.pages != 0 %}
              <span class="icon-right-arrow"></span>
              {{ 'general.breadcrumbs.page' | t: current_page: paginate.current_page, pages: paginate.pages }}
            {% endif %}
          </div>
        </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>

{% comment %}Check to see if sidebar should be enabled{% endcomment %}
{% if section.blocks.size > 0 %}
  {% assign sidebar = true %}
{% else %}
  {% assign sidebar = false %}
{% endif %}

{% if search.performed %}
 {% if settings.search_option == 'everything' or search.results.first.price == blank %}

  {% if sidebar %}
    {% include 'sidebar' %}
    <div class="twelve columns">
  {% else %}
    <div class="sixteen columns">
  {% endif %}

    {% if search.results == empty %}
      <br class="clear" />
      <br class="clear" />
      <div class="clearfix">
        <p class="quote">{% comment %}ly_i18n_replace_for_[ 'general.search.no_results_html' | t: terms: search.terms ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.no_results_html' | t: terms: search.terms }}{% endcapture %}{% include 'ly-static-string' with '10771894' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = search.terms  %}{% assign ly_template = ly_template | replace: '[[terms]]', replacement %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
      </div>

      <br class="clear" />
      <br class="clear" />
    {% else %}

      {% for item in search.results %}
        <div class="product_row">
          {% assign featured_image = false %}

          {% if item.object_type == 'article' and item.image %}
            {% assign featured_image = true %}
            <div class="four columns alpha">
               <a href="{{ item.url }}" title="{% comment %}ly_code_replace_for_[ item.title | escape ]_begin{% endcomment %}{% include 'ly-title' with item %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">
                  <img  src="{{ item.image | img_url: '300x' }}"
                        alt="{% comment %}ly_code_replace_for_[ item.title | escape ]_begin{% endcomment %}{% include 'ly-title' with item %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}"
                        data-src="{{ item.image | img_url: '2048x' }}"
                        class="lazyload lazyload--fade-in"
                        style="max-width: {{- item.image.width -}}px"
                        data-sizes="auto"
                        data-srcset=" {{ item.image | img_url: '2048x' }} 2048w,
                                      {{ item.image | img_url: '1600x' }} 1600w,
                                      {{ item.image | img_url: '1200x' }} 1200w,
                                      {{ item.image | img_url: '1000x' }} 1000w,
                                      {{ item.image | img_url: '800x' }} 800w,
                                      {{ item.image | img_url: '600x' }} 600w,
                                      {{ item.image | img_url: '400x' }} 400w"
                         />
               </a>
            </div>
          {% elsif item.featured_image %}
            {% assign featured_image = true %}
            <div class="four columns alpha">
               <a href="{{ item.url }}" title="{% comment %}ly_code_replace_for_[ item.title | escape ]_begin{% endcomment %}{% include 'ly-title' with item %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">
                  <img  src="{{ item.featured_image | img_url: '300x' }}"
                        alt="{% comment %}ly_code_replace_for_[ item.title | escape ]_begin{% endcomment %}{% include 'ly-title' with item %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}"
                        data-src="{{ item.featured_image | img_url: '2048x' }}"
                        class="lazyload lazyload--fade-in"
                        style="max-width: {{- item.featured_image.width -}}px"
                        data-sizes="auto"
                        data-srcset=" {{ item.featured_image | img_url: '2048x' }} 2048w,
                                      {{ item.featured_image | img_url: '1600x' }} 1600w,
                                      {{ item.featured_image | img_url: '1200x' }} 1200w,
                                      {{ item.featured_image | img_url: '1000x' }} 1000w,
                                      {{ item.featured_image | img_url: '800x' }} 800w,
                                      {{ item.featured_image | img_url: '600x' }} 600w,
                                      {{ item.featured_image | img_url: '400x' }} 400w"
                         />
               </a>
            </div>
          {% endif %}

          {% if sidebar %}
            <div class="{% if featured_image %}eight{% else %}twelve{% endif %} columns omega text-align--left">
          {% else %}
            <div class="{% if featured_image %}twelve{% else %}sixteen alpha{% endif %} columns omega text-align--left">
          {% endif %}

            <h5 class="sub_title">
              <a href="{{ item.url }}" title="{% comment %}ly_code_replace_for_[ item.title | escape ]_begin{% endcomment %}{% include 'ly-title' with item %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">{% comment %}ly_code_replace_for_[ item.title ]_begin{% endcomment %}{% include 'ly-title' with item %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
            </h5>

            {% if item.price %}
               <div class="info">
                  <span class="price">
                    {% if item.compare_at_price_max > item.price %}
                      <span class="was_price">
                        <span class="money">{{ item.compare_at_price_max | money }}</span>
                      </span>
                    {% endif %}

                    {% if item.available %}
                      {% if item.price_varies %}
                        {% if item.compare_at_price_max > item.price %}
                          <br />
                        {% endif %}
                        <small><em>{% comment %}ly_i18n_replace_for_[ 'products.general.from' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.general.from' | t }}{% endcapture %}{% include 'ly-static-string' with '10771895' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</em></small>
                      {% endif %}
                      <span class="money">{{ item.price_min | money }}</span>
                    {% else %}
                      <span class="money">{{ item.price_min | money }}</span> - {% comment %}ly_i18n_replace_for_[ 'products.product.sold_out' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.sold_out' | t }}{% endcapture %}{% include 'ly-static-string' with '10771896' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
                    {% endif %}
                  </span>
              </div>
            {% endif %}

            {% if item.object_type == 'article' %}
              <p class="blog_meta">
                {% if section.settings.blog_author %}
                  <span>{% comment %}ly_i18n_replace_for_[ 'blogs.article.by_author' | t: author: item.author ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.article.by_author' | t: author: item.author }}{% endcapture %}{% include 'ly-static-string' with '10771898' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = item.author  %}{% assign ly_template = ly_template | replace: '[[author]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
                {% endif %}

                {% if section.settings.blog_date %}
                  <span>{{ item.published_at | date: format: "month_day_year" }}</span>
                {% endif %}
              </p>
            {% endif %}

            {% if item.excerpt %}
              <div class="excerpt">{% comment %}ly_code_replace_for_[ item.excerpt ]_begin{% endcomment %}{% include 'ly-excerpt' with item %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</div>

              {% if section.settings.read_more_link %}
              <p>
                <a href="{{ item.url }}" title="{% comment %}ly_code_replace_for_[ item.title | escape ]_begin{% endcomment %}{% include 'ly-title' with item %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">{% comment %}ly_i18n_replace_for_[ 'blogs.general.continue_reading_html' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.general.continue_reading_html' | t }}{% endcapture %}{% include 'ly-static-string' with '10771899' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
              </p>
            {% endif %}
            {% else %}
              <p>
                {% comment %}ly_code_replace_for_[ item.content | strip_html | truncatewords: 40 | highlight: search.terms | replace: 'Description', '' | replace: 'Specs', '' | replace: 'Shipping', '' | replace: 'Size', '' ]_begin{% endcomment %}{% include 'ly-content' with item %}{{ ly_translation | strip_html | truncatewords: 40 | highlight: search.terms | replace: 'Description', '' | replace: 'Specs', '' | replace: 'Shipping', '' | replace: 'Size', '' }}{% comment %}ly_code_replace_end{% endcomment %}
              </p>
            {% endif %}
          </div>
        </div>
      <hr />
      {% endfor %}
    {% endif %}
  </div>

 {% else %}
      {% if sidebar %}
        {% include 'sidebar' %}
        <div class="twelve columns">
      {% else %}
        <div class="sixteen columns">
      {% endif %}

      {% assign products = search.results %}
      {% assign products_per_row = section.settings.products_per_row %}
      {% include 'product-loop', sidebar: sidebar %}

      </div>
  {% endif %}

  {% include 'pagination' %}

{% else %}
  <div class="clearfix search_page">

    {% if sidebar %}
      {% include 'sidebar' %}
      <div class="twelve columns">
    {% else %}
      <div class="sixteen columns">
    {% endif %}

    <br class="clear" />
    <br class="clear" />
    <div class="{% if sidebar %}twelve{% else %}ten offset-by-three{% endif %} columns center">
      <p class="quote">
        {% comment %}ly_i18n_replace_for_[ 'general.search.description' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.description' | t }}{% endcapture %}{% include 'ly-static-string' with '10771900' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
      </p>
    </div>
      <form class="search" action="/search">
        <div class="five {% if sidebar %}offset-by-two{% else %}offset-by-four{% endif %} columns center">
          {% if settings.search_option != 'everything' %}
            <input type="hidden" name="type" value="product" />
          {% endif %}
          <input type="text" name="q" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.search.placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '10771901' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" value="{{ search.terms }}" x-webkit-speech autocapitalize="off" autocomplete="off" autocorrect="off" />
        </div>
        <div class="four columns">
          <input type="submit" name="submit" class="action_button" value="{% comment %}ly_i18n_replace_for_[ 'general.search.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '10771902' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" style="margin-top:0" />
        </div>
      </form>
    </div>
  </div>
{% endif %}
{% endpaginate %}

{% schema %}

{
  "name": "Search",
  "class": "search-template-section",
  "settings": [
      {
      "type": "checkbox",
      "id": "search_breadcrumb",
      "label": "Show breadcrumb",
      "default": true
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Products per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "pagination_limit",
      "label": "Products per page",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 48
    },
    {
      "type": "header",
      "content": "Blog results"
    },
    {
      "type": "checkbox",
      "id": "blog_author",
      "label": "Show author"
    },
    {
      "type": "checkbox",
      "id": "read_more_link",
      "label": "Show continue reading link for blog post excerpts",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "filter_by_collection",
      "name": "Collection list",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "filter_by_tag",
      "name": "Tag list",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "filter_by_type",
      "name": "Type list",
      "limit": 1
    },
    {
      "type": "filter_by_vendor",
      "name": "Vendor list",
      "limit": 1
    }
  ]
}

{% endschema %}
