{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="container social-feeds-wrap">
  <div class="section clearfix homepage_content">
    {% for block in section.blocks %}
      {% if block.type == 'instagram' %}
        <div class="{% if forloop.length > 1 %}eight{% else %}sixteen{% endif %} columns" {{ block.shopify_attributes }}>
          {% if block.settings.instagram_title != blank %}
            <h2 class="section-header home text-align--center center">
              {% if settings.instagram_link != blank %}
                <a href="{{ settings.instagram_link }}" target="_blank">
              {% endif %}
              {{ block.settings.instagram_title | escape }}
              {% if settings.instagram_link != blank %}
                </a>
              {% endif %}
            </h2>
          {% endif %}

          {% if block.settings.instagram_client_id != blank %}
            <div id="instafeed" class="js-instafeed" data-client-id="{{ block.settings.instagram_client_id | strip }}" data-count="{{ block.settings.instagram_count}}"></div>
          {% else %}
            <div id="instafeed" class="clearfix placeholder-instagram">
              {% for i in (1..block.settings.instagram_count) %}
                <div class="four columns">
                  <a href="#">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--instagram' }}
                  </a>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endif %}

      {% if block.type == 'twitter' %}
        <div class="{% if forloop.length > 1 %}eight{% else %}sixteen{% endif %} columns" {{ block.shopify_attributes }}>
          {% if block.settings.twitter_title  != blank %}
            <h2 class="section-header home text-align--center center">
              <a href="https://twitter.com/{{ block.settings.twitter_username | replace: "@", "" | strip }}" target="_blank">{{block.settings.twitter_title | escape }}</a>
            </h2>
          {% endif %}


          {% if block.settings.twitter_theme == 'light_text' %}
            {% assign twitter_theme_style = 'dark' %}
          {% elsif block.settings.twitter_theme == 'dark_text'  %}
            {% assign twitter_theme_style = 'light' %}
          {% endif %}

          <a class="twitter-timeline" data-theme="{{ twitter_theme_style }}" href="https://twitter.com/{{ block.settings.twitter_username | replace: "@", "" | strip }}" data-tweet-limit="{{ block.settings.tweet_count }}" data-screen-name="{{ block.settings.twitter_username | replace: "@", "" | strip }}" data-chrome="noheader nofooter noborders transparent" data-link-color="{{ settings.link_color }}" data-heading-style="color:{{ settings.link_color }};font-size:{{ settings.regular_font_size }}px;font-family: {{ settings.regular_font | replace: 'Google_', '' | replace: '+', ' ' | replace: '"', '' }}"></a>

        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Social feeds",
  "class": "social-feeds-section",
  "max_blocks": 2,
  "blocks": [
    {
      "type": "twitter",
      "name": "Twitter feed",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "twitter_username",
          "label": "Twitter username"
        },
        {
          "type": "text",
          "id": "twitter_title",
          "label": "Heading",
          "default": "Tweets"
        },
        {
          "type": "radio",
          "id": "twitter_theme",
          "label": "Theme",
          "default": "dark_text",
          "options": [
            {
              "value": "light_text",
              "label": "Light text"
            },
            {
              "value": "dark_text",
              "label": "Dark text"
            }
          ]
        },
        {
          "type": "range",
          "id": "tweet_count",
          "label": "Number of tweets",
          "min": 1,
          "max": 10,
          "step": 1,
          "default": 2
        }
      ]
    },
    {
      "type": "instagram",
      "name": "Instagram feed",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "instagram_client_id",
          "label": "Instagram Access Token",
          "info": "[Learn more](https:\/\/outofthesandbox.com\/pages\/instagram-access-token)"
        },
        {
          "type": "text",
          "id": "instagram_title",
          "label": "Heading",
          "default": "Instagram"
        },
        {
          "type": "range",
          "id": "instagram_count",
          "label": "Number of images",
          "min": 2,
          "max": 12,
          "step": 2,
          "default": 6
        }
      ]
    }
  ],
  "presets": [{
    "name": "Social feeds",
    "category": "Social media",
    "blocks": [
      {
        "type": "twitter",
        "settings": {
          "twitter_title": "Tweets"
        }
      },
      {
        "type": "instagram",
        "settings": {
          "instagram_title": "Instagram"
        }
      }]
    }]

}
{% endschema %}
