{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="sixteen columns clearfix collection_nav">
  <h1 class="collection_title">{% comment %}ly_i18n_replace_for_[ 'general.404.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.404.title' | t }}{% endcapture %}{% include 'ly-static-string' with '10772011' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>
</div>

<div class="sixteen columns">
  <div class="section clearfix">
    <p class="quote">
        {% comment %}ly_i18n_replace_for_[ 'general.404.subtext' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.404.subtext' | t }}{% endcapture %}{% include 'ly-static-string' with '10772012' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
    </p>
  </div>
</div>

<div class="section clearfix">  
  <div class="sixteen columns center">
    <p class="extra_padding">
      {% comment %}ly_i18n_replace_for_[ 'general.404.continue_shopping_html' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.404.continue_shopping_html' | t }}{% endcapture %}{% include 'ly-static-string' with '10772013' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
    </p>
  </div>    
  <div class="eight columns offset-by-four">
    <form class="search" action="/search">
      <input type="text" name="q" class="search_box" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.search.placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '10772014' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" value="{{ search.terms }}" style="width: 100%" />
    </form>
  </div>
  <br class="clear" />
  <br class="clear" />
  <br class="clear" />
</div>
