{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% comment %}
  The contents of the collection.banner.liquid template can be found in /sections/collection-banner-template.liquid
{% endcomment %}

{% section 'collection-banner-template' %}
