{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% comment %}
  The contents of the collection.sub-collection.liquid template can be found in /sections/collection-sub-collections-template.liquid
{% endcomment %}

{% section 'collection-sub-collections-template' %}