{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% comment %}
  The contents of the list-collections.liquid template can be found in /sections/list-collections-template.liquid
{% endcomment %}

{% section 'list-collections-template' %}