{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% comment %}
  The contents of the page.sidebar.liquid template can be found in /sections/page-sidebar-template.liquid
{% endcomment %}

{% section 'page-sidebar-template' %}
