{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="sixteen columns">
  <div class="section clearfix">
    <h1>{% comment %}ly_code_replace_for_[ page.title ]_begin{% endcomment %}{% include 'ly-title' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h1>
  </div>
</div>

<div class="sixteen columns">
  <div class="section clearfix">
    {% if page.content contains "<!-- split -->" %}
      {% comment %}ly_code_replace_for_[ page.content | split: "<!-- split -->" | last ]_begin{% endcomment %}{% include 'ly-content' with page %}{{ ly_translation | split: "<!-- split -->" | last }}{% comment %}ly_code_replace_end{% endcomment %}
    {% endif %}

    {%- assign imgs = page.content | split: 'src="' -%}
    {%- capture src_array -%}
      {%- for img in imgs -%}
         {{ img | split: '"' | first | replace: '<ly-as-10772095>//cdn</ly-as-10772095>', '<ly-as-10772096>http://cdn</ly-as-10772096>' | replace: '<ly-as-10772097>http:http://</ly-as-10772097>', 'http://' | remove: 'https:' | remove: 'http:' }}~
        {% assign imageAmount = forloop.length | minus: 1 %}
      {%- endfor -%}
    {%- endcapture -%}

    {%- assign srcArray = src_array | split: '~' -%}

    {% assign alts = page.content | split: 'alt="' %}
    {%- capture altArray -%}
      {%- for alt in alts -%}
         {{ alt | split: '"' | first }}~
      {%- endfor -%}
    {%- endcapture -%}

    {%- assign altArray = altArray | split: '~' -%}

    {% for index in (1..imageAmount) %}
        <div class="one-third column {% cycle "alpha","","omega" %}">
          <a href="{{ srcArray[index] | strip }}" title="{{ altArray[index] | strip }}" class="lightbox" rel="gallery" data-fancybox-group="{{ page.handle }}">
            <img src="{{ srcArray[index] | strip }}" alt="{{ altArray[index] | strip }}"/>
          </a>
        </div>
        {% cycle clear_row: "","",'<br class="clear" />' %}
    {% endfor %}
  </div>
</div>

