{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% comment %}
  The contents of the page.contact.liquid template can be found in /sections/contact-template.liquid
{% endcomment %}

{% section 'contact-template' %}