{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% comment %}
  The contents of the page.banner.liquid template can be found in /sections/page-banner-template.liquid
{% endcomment %}

{% section 'page-banner-template' %}
