{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="sixteen columns">
  <div class="section clearfix">
    <h1>{% comment %}ly_code_replace_for_[ page.title ]_begin{% endcomment %}{% include 'ly-title' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h1>
  </div>
</div>

<div class="sixteen columns">
  <div class="section clearfix">  
    {% capture pmc_content %}{% comment %}ly_code_replace_for_[ page.content ]_begin{% endcomment %}{% include 'ly-content' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}{% endcapture %}{% include 'page-multi-column', content: pmc_content %}
  </div>
</div>