{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% comment %}
  The contents of the page.details.liquid template can be found in /sections/page-details-template.liquid
{% endcomment %}

{% section 'page-details-template' %}
