{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% comment %}
  The contents of the product.description-bottom.liquid template can be found in /sections/product-description-bottom-template.liquid
{% endcomment %}

<div class="container">

  {% include 'product-structured-data' %}

  <div class="breadcrumb__wrapper sixteen columns">
    <div class="breadcrumb product_breadclangify_shop_name
      <a href="{{ langify_shop_url }}" title="{{ shop.name | escape }}">
        <span>{{ 'general.breadcrumbs.home' | t }}</span>
      </a><span class="icon-right-arrow"></span>

      {% if collection %}
        <a href="{{ collection.url }}" title="{{ collection.title | escape }}">
          <span>{{ collection.title }}</span>
        </a>
      {% else %}
        <a href="/collections/all" title="{{ collections.all.title }}">{{ collections.all.title }}</a>
      {% endif %}

      <span class="icon-right-arrow"></span>
      {{ product.title }}
    </div>
  </div>

{% section 'product__sidebar' %}

<div class="sixteen columns alpha omega" data-initial-width="sixteen" data-sidebar-width="twelve">
  {% section 'product-description-bottom-template' %}

  {% section 'product-recommendations' %}
</div>

</div>
