{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% comment %}
  The contents of the search.liquid template can be found in /sections/search-template.liquid
{% endcomment %}

{% section 'search-template' %}